
<form method="post" action="/cart/add">
  <input name="id" value="{{ product.variants.first.id }}" type="hidden" />
  


  
  <div x-data="data"
  x-init="datainit">
    <div class="container-ingredientes flex flex-row" >
    {% for ingrediente  in product.metafields.custom.ingredientes.value   %}
      <div class="ingrediente-column  basis-2/3">
            
    <div x-show="open{{ forloop.index }} " class="modal open{{ forloop.index }} duration-300 ease-in" @click.away="open{{ forloop.index }} = false">
       <div class="flex flex-1 gap-2 justify-between">
         <div class="text-left  w-9/12 ">
          <h3>Information Produit:</h3>
      {% if forloop.index == 1 %}
{{ collections['boutique'].metafields.custom.ingredient1 |  metafield_tag  }} 
{% endif %}
             {% if forloop.index == 2 %}
{{ collections['boutique'].metafields.custom.ingredient2 |  metafield_tag  }} 
{% endif %}  
             {% if forloop.index == 3 %}
{{ collections['boutique'].metafields.custom.ingredient3 |  metafield_tag  }} 
{% endif %}
               {% if forloop.index == 4 %}
{{ collections['boutique'].metafields.custom.ingredient4 |  metafield_tag  }} 
{% endif %}
                {% if forloop.index == 5 %}
{{ collections['boutique'].metafields.custom.ingredient5 |  metafield_tag  }} 
{% endif %}
             {% if forloop.index == 6 %}
{{ collections['boutique'].metafields.custom.ingredient6 |  metafield_tag  }} 
{% endif %}  
             {% if forloop.index == 7 %}
{{ collections['boutique'].metafields.custom.ingredient7 |  metafield_tag  }} 
{% endif %}
               {% if forloop.index == 8 %}
{{ collections['boutique'].metafields.custom.ingredient8 |  metafield_tag  }} 
{% endif %}
         </div>
         <div class="w-3/12">
             {{ block.settings.image | image_url: width: 320 | image_tag:
                      loading: 'lazy',
                  
                      class: 'multicolumn-card__image_modal' 
                    }}

         </div>
       </div>
    </div>
        <img src="{{ ingrediente.image }}"  x-on:click="open-image = !open{{ forloop.index }}"  style="    height: 50px;
    /* width: 25px; */
    margin: 0 auto;"><br>
        {{ ingrediente.name }}<br>   
       <span class="ingrediente-caption">{{ ingrediente.caption }}</span>  <br>   
        <quantity-input class="quantity ingrediente{{ forloop.index0 }}">
        
        <span  class='quantity__button no-js-hidden' field='quantity'
        x-on:click="ingrediente{{ forloop.index0 }}--;if(ingrediente{{ forloop.index0 }} < 0){ingrediente{{ forloop.index0 }} = 0;} ;">.
        {% render 'icon-minus' %}
        
        </span>
        <input x-model="ingrediente{{ forloop.index0 }}"
        class="quantity__input"
        type="number"
        id="ingrediente{{ forloop.index0 }}"
        name="properties[ingrediente{{ forloop.index0 }}]"
        value="0"
          placeholder="0"
        x-model.text="ingrediente{{ forloop.index0 }}">
        
          
        
        <span  class='quantity__button no-js-hidden' field='quantity'
        x-on:click="ingrediente{{ forloop.index0 }}++;if(ingrediente{{ forloop.index0 }} > 3){ingrediente{{ forloop.index0 }} = 3;} ;">
        .
        {% render 'icon-plus' %}
        </span>
        </quantity-input>   
       </div>
      {% endfor %}
     </div>  
      <span style="display:none;" x-text="data2 = (Number(ingrediente5) + Number(ingrediente4) + Number(ingrediente3) + Number(ingrediente2) + Number(ingrediente1) + Number(ingrediente0)) "></span><br>
      <span  style="display:none;"  x-text="disable;if(data2 == 3){disable = false ;} ;if(data2 != 3){disable = true;}"></span><br>
      
      <input name="add" value="'ajoute au panier - {{ product.price | money }} €" type="submit"   
      :disabled="disable;if(data2 == 3){disable = false ;} ;if(data2 != 3){disable = true;} ;"    
      class="product-form__submit button button--full-width button--secondary" style="border:1px solid #000;"
      />
      
      Puede comprar?: <span x-text="disable"></span><br>
      Total:  <span x-text="data2"></span><br>
   
  </div>
</form>
<style>
  .container-ingredientes {
    display:flex;
    gap:30px;
    flex-wrap: wrap;
    text-align:center;
  }
  .container-ingredientes .ingrediente-column {

  }
  .ingrediente-caption {
    font-size:12px;
  }
</style>

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('data', () => ({
           ingrediente0:'',
          ingrediente1:'',
          ingrediente2:'' ,
          ingrediente3:'',
          ingrediente4:'',
          ingrediente5:'' ,
          ingrediente6:'', 
          disable:'', data2:'' 
        }))

        Alpine.data('datainit', () => ({
           ingrediente0:'0',
          ingrediente1:'0',
          ingrediente2:'0' ,
          ingrediente3:'0',
          ingrediente4:'0',
          ingrediente5:'0' ,
          ingrediente6:'0', 
          disable:'', data2:'0' 
        }))
    })
</script>