
<form method="post" action="/cart/add" class="pt-10 px-8 z">
  <input name="id" value="{{ product.variants.first.id }}" type="hidden" />
  


  
  <div x-data="data"
  x-init="datainit">
    <div class="container-ingredientes flex flex-row" >
    {% for ingrediente  in product.metafields.custom.ingredientes.value   %}

      {% if ingrediente.property == 'carotte' %}
  {% assign propertyName = 'carotte' %}
{% elsif ingrediente.property == "argan" %}
  {% assign propertyName = 'argan' %}
{% elsif ingrediente.property == "abricot" %}
  {% assign propertyName = 'abricot' %}
{% elsif ingrediente.property == 'noisette' %}
  {% assign propertyName = 'noisette' %}
{% elsif ingrediente.property == "amande" %}
  {% assign propertyName = 'amande' %}
{% elsif ingrediente.property == "onagre" %}
  {% assign propertyName = 'onagre' %}
{% endif %}

      
      <div class="ingrediente-column  basis-1/3 p-10" >
            
    <div x-show="openi{{ forloop.index }} " class="modal  modal2 openi{{ forloop.index }} duration-300 ease-in" @click.away="openi{{ forloop.index }} = false" style="display:none;">
     
      
      <div class="container-modal" style="position:relative;">
      <span style="position:absolute; top:15px; right:25px; cursor:pointer;"  @click="openi{{ forloop.index }} = false">
  <svg id="Calque_22" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 43 43" style="height:25px;">
  <defs>
  <style>.cls-122{fill:none;stroke:#575756;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px;}</style></defs>
  <g id="Calque_1-22"><g><line class="cls-122"f x1="2.09" y1="1.5" x2="40.91" y2="41.5"/><line class="cls-122" x1="1.5" y1="40.91" x2="41.5" y2="2.09"/></g></g></svg>
      </span>
             <div class="flex  w-full justify-center items-center mb-10">
      <img src="{{ ingrediente.image }}"      style="    height: 90px;"
    class="multicolumn-card__image_modal">
     
           

         </div>
         <div class="text-left   ">
     {% assign colors =   collections['boutique'].metafields.custom.colors.value   %}
    {% if forloop.index == 1 %}
       
{{ collections['boutique'].metafields.custom.ingredient1 |  metafield_tag  }} 
 <style>
   .openi1  {
     border:2px solid    {{ colors[0].color1 }};
   }
        .openi1 h3 {
        color: {{ colors[0].color1 }};
        }
      .openi1    .cls-122 {
        stroke:{{ colors[0].color1 }};
        }
 </style>
{% endif %}
             {% if forloop.index == 2 %}
{{ collections['boutique'].metafields.custom.ingredient2 |  metafield_tag  }} 
                 
                <style>
                  .openi2 h3 {
        color: {{ colors[0].color2 }};
        }
   .openi2  {
     border:2px solid    {{ colors[0].color2 }};
   }
                     .openi2    .cls-122 {
        stroke:{{ colors[0].color2 }};
        }
 </style>
{% endif %}  
             {% if forloop.index == 3 %}
{{ collections['boutique'].metafields.custom.ingredient3 |  metafield_tag  }}  
           {{ collections['boutique'].metafields.custom.color[3] }} 
                <style>
                  .openi3 h3 {
        color: {{ colors[0].color3 }};
        }
   .openi3  {
     border:2px solid    {{ colors[0].color3 }};
   }
                     .openi3   .cls-122 {
        stroke:{{ colors[0].color3 }};
        }
 </style>
{% endif %}
               {% if forloop.index == 4 %}
{{ collections['boutique'].metafields.custom.ingredient4 |  metafield_tag  }} 
                    <style>
                    .openi4 h3 {
        color: {{ colors[0].color4 }};
        }
   .openi4  {
     border:2px solid    {{ colors[0].color4 }};
   }
                       .openi4    .cls-122 {
        stroke:{{ colors[0].color4 }};
        }
 </style>
{% endif %}
                {% if forloop.index == 5 %}
{{ collections['boutique'].metafields.custom.ingredient5 |  metafield_tag  }} 
                     <style>
                     .openi5 h3 {
        color: {{ colors[0].color5 }};
        }
   .openi5  {
     border:2px solid    {{ colors[0].color5 }};
   }
                        .openi5    .cls-122 {
        stroke:{{ colors[0].color5 }};
        }
 </style>
{% endif %}
             {% if forloop.index == 6 %}
{{ collections['boutique'].metafields.custom.ingredient6 |  metafield_tag  }} 
                  <style>
                  .openi6 h3 {
        color: {{ colors[0].color6 }};
        }
   .openi6  {
     border:2px solid    {{ colors[0].color6 }};
   }
                          .openi6    .cls-122 {
        stroke:{{ colors[0].color6 }};
        }
 </style>
{% endif %}  
         </div>
        
       </div>
    </div>
    <div class="container-images" style="position:relative;">
        <img src="{{ ingrediente.imagehover }}" class="itshover"    style="    height: 50px;
    /* width: 25px; */
    margin: 0 auto;"> <img src="{{ ingrediente.image }}"  class="imghover"   x-on:click="openi{{ forloop.index }} = !openi{{ forloop.index }}"   style="    height: 50px;
    /* width: 25px; */
    margin: 0 auto;">
        
          
    </div>
       <h5 class="pt-10" x-on:click="openi{{ forloop.index }} = !openi{{ forloop.index }}"  > {{ ingrediente.name }}</h5>  
       <span class="ingrediente-caption " x-on:click="openi{{ forloop.index }} = !openi{{ forloop.index }}" >{{ ingrediente.caption }}</span>  <br>   
        <quantity-input class="quantity ingrediente{{ forloop.index0 }} pt-8" >
        
<span class="quantity__button no-js-hidden disabled2"
    field="quantity"
    x-on:click="if (ingrediente{{ forloop.index0 }} > 0) { ingrediente{{ forloop.index0 }}--; }"
    x-bind:class="{'disabled': ingrediente{{ forloop.index0 }} === 0, 'enable': ingrediente{{ forloop.index0 }} > 0}"
    x-bind:style="{'pointer-events': ingrediente{{ forloop.index0 }} === 0 ? 'none' : ''}">
    {% render 'icon-minus' %}
</span>

   <input x-model="ingrediente{{ forloop.index0 }}"
      class="quantity__input"
      type="number"
      id="ingrediente{{ forloop.index0 }}"
      x-bind:name="ingrediente{{ forloop.index0 }} == '0' ? 'escero' : 'properties[{{ propertyName  }}]'" 
      value="0"
      placeholder="0"
      x-model.text="ingrediente{{ forloop.index0 }}" readonly>

          
      
        
          
        
      <span class="quantity__button no-js-hidden" field="quantity"
    x-on:click="if (data2 !== 3) { ingrediente{{ forloop.index0 }}++; if (ingrediente{{ forloop.index0 }} > 3) ingrediente{{ forloop.index0 }} = 3; }"
    x-bind:class="{'disabled': data2 === 3 || ingrediente{{ forloop.index0 }} === 3}">
    {% render 'icon-plus' %}
</span>

        </quantity-input>   
       </div>
      {% endfor %}
     </div>  
      <span style="display:none;" x-text="data2 = (Number(ingrediente5) + Number(ingrediente4) + Number(ingrediente3) + Number(ingrediente2) + Number(ingrediente1) + Number(ingrediente0)) "></span><br>
      <span  style="display:none;"  x-text="disable;if(data2 == 3){disable = false ;} ;if(data2 != 3){disable = true;}"></span>
      
      <input name="add" value="J'ajoute au panier - {{ product.price | money }} " type="submit"   
      :disabled="disable;if(data2 == 3){disable = false ;} ;if(data2 != 3){disable = true;} ;"    
      class="product-form__submit button button--full-width button--secondary" 
      />
      {% comment %}
      Puede comprar?: <span x-text="disable"></span><br>
      Total:  <span x-text="data2"></span><br>
      {% endcomment %}
   
  </div>
</form>

    
<style>

  v {

          margin:0 auto;
          
             background:white;
             padding:20px 30px;
       
                 z-index: 9999;

 
  }
.container-ingredientes h3 {
    text-align: center;
    margin-bottom: 15px !important;
}
.container-ingredientes h3 {
    font-size: 16px;
    font-weight: 500;

}
  h5 {
    color:#575756;
    text-decoration:underline;
    font-weight:600;
  }
  
	.container-ingredientes	   .modal  {
      font-size: 12px;
    color: #575756;
       position: fixed;
                   text-align:center;
    border-radius:20px;
  padding:20px 30px;
      width: 50%;
          margin:0 auto;
  height:auto;
               z-index: 9999;
             top: 50%;
left: 50%;
transform: translate(-50%, -50%);
        }

  
  .product-form__submit  {
  background:  #D0C4E2;
    border-radius:20px;
    color:white; 
    font-weight:600;
    border:0px;
  }
  .product-form__submit:disable {
      background:  #e1e1e0;
  }
  .product-form__submit:before {
    content:none !important;
  }
  .quantity__button {
    border-radius: 100%;
    border: 1px solid #ccc !important;
    height: 30px;
    text-align: center;
    width: 30px;
    line-height: 20px;}
  
  .quantity:after {
    border: 0px !important;
    box-shadow: none !important;
  }
.disabled {
  opacity:0.5;
}
  .disabled2 {
  opacity:0.5;
}
  .disabled2.enable {
  opacity:1;
}
 .container-ingredientes {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;

  }
  .container-ingredientes .ingrediente-column {

  }
  .ingrediente-caption {
    font-size:12px;
  }
          .container-images:hover .itshover {
          opacity:1;
          
        }
  .container-images {
    position: relative;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
  }
            .container-images .itshover {
          opacity:0;
              position:absolute;
              margin:0 auto;
              top:0px;
              
        }
         .container-images:hover .imghover {
          opacity:0;
          
        }

  @media (max-width:980px) {
   .modal  .waves2a  {
         padding-bottom: 40px;
   }
    .modal .svg-waves {
          bottom: -40px;
    }
    .container-columns  {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}
    .container-modal .container-columns.flex {
       max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
      padding:0px;
      row-gap:5px;
    }
    .column1   , .column2 {
      padding:0px;
      max-width:95%;
   
    }
    .container-ingredientes {
      
    grid-template-columns: 1fr 1fr;
    display: grid;

    }
  .container-ingredientes .ingrediente-column {
    padding: 20px 5px;
}
    .icon_close {
      right: 10px !important;
    top: 5px !important;
    }
    .modal .waves2a {
      padding-top:25px;
    }
    .icon_close svg {
      width:16px;
      height:16px;
    }
    .modal {
      max-height:1500vh !important;
      height: 1500vh !important;
    }
  }
</style>

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('data', () => ({
           ingrediente0:'',
          ingrediente1:'',
          ingrediente2:'' ,
          ingrediente3:'',
          ingrediente4:'',
          ingrediente5:'' ,
          ingrediente6:'', 
          disable:'', data2:'' ,
          openi1: false , openi2: false ,openi3: false ,openi4: false,openi5: false ,openi6: false
        }))

        Alpine.data('datainit', () => ({
           ingrediente0:'0',
          ingrediente1:'0',
          ingrediente2:'0' ,
          ingrediente3:'0',
          ingrediente4:'0',
          ingrediente5:'0' ,
          ingrediente6:'0', 
          disable:'', data2:'0' ,
          openi1: false , openi2: false ,openi3: false ,openi4: false,openi5: false ,openi6: false
        }))
    })
</script>