
   
   {% assign seche2 = " (formData.f21 === 'f21a' && formData.f22 === 'f22c' && formData.f23 === 'f23a') ||
        (formData.f21 === 'f21a' && formData.f22 === 'f22c' && formData.f23 === 'f23c') ||
        (formData.f21 === 'f21a' && formData.f22 === 'f22c' && formData.f23 === 'f23d') " %}
{% assign mixte2 =
" (formData.f21 === 'f21a' && formData.f22 === 'f22a' && formData.f23 === 'f23a') ||
  (formData.f21 === 'f21a' && formData.f22 === 'f22a' && formData.f23 === 'f23b') ||
  (formData.f21 === 'f21a' && formData.f22 === 'f22a' && formData.f23 === 'f23c') ||
  (formData.f21 === 'f21a' && formData.f22 === 'f22a' && formData.f23 === 'f23d') ||
  (formData.f21 === 'f21a' && formData.f22 === 'f22b' && formData.f23 === 'f23a') ||
  (formData.f21 === 'f21a' && formData.f22 === 'f22b' && formData.f23 === 'f23b') ||
  (formData.f21 === 'f21a' && formData.f22 === 'f22b' && formData.f23 === 'f23c') ||
  (formData.f21 === 'f21a' && formData.f22 === 'f22b' && formData.f23 === 'f23d') ||
  (formData.f21 === 'f21a' && formData.f22 === 'f22c' && formData.f23 === 'f23b') ||
  (formData.f21 === 'f21b' && formData.f22 === 'f22a' && formData.f23 === 'f23a') ||
  (formData.f21 === 'f21b' && formData.f22 === 'f22b' && formData.f23 === 'f23a') ||
  (formData.f21 === 'f21b' && formData.f22 === 'f22b' && formData.f23 === 'f23b') ||
  (formData.f21 === 'f21b' && formData.f22 === 'f22b' && formData.f23 === 'f23c') ||
  (formData.f21 === 'f21b' && formData.f22 === 'f22b' && formData.f23 === 'f23d') ||
  (formData.f21 === 'f21b' && formData.f22 === 'f22c' && formData.f23 === 'f23a') ||
  (formData.f21 === 'f21b' && formData.f22 === 'f22c' && formData.f23 === 'f23b') ||
  (formData.f21 === 'f21c' && formData.f22 === 'f22b' && formData.f23 === 'f23a') ||
  (formData.f21 === 'f21c' && formData.f22 === 'f22b' && formData.f23 === 'f23c') ||
  (formData.f21 === 'f21c' && formData.f22 === 'f22b' && formData.f23 === 'f23d')" %}

  {% assign grasse2 = "    (formData.f21 === 'f21b' && formData.f22 === 'f22a' && formData.f23 === 'f23b') ||
  (formData.f21 === 'f21b' && formData.f22 === 'f22a' && formData.f23 === 'f23c') ||
  (formData.f21 === 'f21b' && formData.f22 === 'f22a' && formData.f23 === 'f23d') ||
  (formData.f21 === 'f21c' && formData.f22 === 'f22a' && formData.f23 === 'f23a') ||
  (formData.f21 === 'f21c' && formData.f22 === 'f22a' && formData.f23 === 'f23b') ||
  (formData.f21 === 'f21c' && formData.f22 === 'f22a' && formData.f23 === 'f23c') ||
  (formData.f21 === 'f21c' && formData.f22 === 'f22a' && formData.f23 === 'f23d') ||
  (formData.f21 === 'f21c' && formData.f22 === 'f22b' && formData.f23 === 'f23b')" %}

    {% assign normal2 = "    
  (formData.f21 === 'f21b' && formData.f22 === 'f22c' && formData.f23 === 'f23c') ||
  (formData.f21 === 'f21b' && formData.f22 === 'f22c' && formData.f23 === 'f23d') ||
  (formData.f21 === 'f21c' && formData.f22 === 'f22c' && formData.f23 === 'f23a') ||
  (formData.f21 === 'f21c' && formData.f22 === 'f22c' && formData.f23 === 'f23b') ||
  (formData.f21 === 'f21c' && formData.f22 === 'f22c' && formData.f23 === 'f23c') ||
  (formData.f21 === 'f21c' && formData.f22 === 'f22c' && formData.f23 === 'f23d')" %}

{% assign deshy = "
    !(formData.f31 === 'O' && formData.f32 === 'O' && formData.f33 === 'O') &&
                  !(formData.f31 === 'O' && formData.f32 === 'O' && formData.f33 === 'N') &&
                  !(formData.f31 === 'O' && formData.f32 === 'O' && formData.f33 === 'J') &&
                  !(formData.f31 === 'O' && formData.f32 === 'N' && formData.f33 === 'O') &&
                  !(formData.f31 === 'O' && formData.f32 === 'J' && formData.f33 === 'O') &&
                  !(formData.f31 === 'N' && formData.f32 === 'O' && formData.f33 === 'O') &&
                  !(formData.f31 === 'J' && formData.f32 === 'O' && formData.f33 === 'O') &&
                  !(formData.f31 === 'J' && formData.f32 === 'N' && formData.f33 === 'O') &&
                  !(formData.f31 === 'J' && formData.f32 === 'O' && formData.f33 === 'O')

                " %}
{% assign nodeshy = "
   

                  
                  (formData.f31 === 'O' && formData.f32 === 'O' && formData.f33 === 'O') ||
                  (formData.f31 === 'O' && formData.f32 === 'O' && formData.f33 === 'N') ||
                  (formData.f31 === 'O' && formData.f32 === 'O' && formData.f33 === 'J') ||
                  (formData.f31 === 'O' && formData.f32 === 'N' && formData.f33 === 'O') ||
                  (formData.f31 === 'O' && formData.f32 === 'J' && formData.f33 === 'O') ||
                  (formData.f31 === 'N' && formData.f32 === 'O' && formData.f33 === 'O') ||
                  (formData.f31 === 'J' && formData.f32 === 'O' && formData.f33 === 'O') ||
                  (formData.f31 === 'J' && formData.f32 === 'N' && formData.f33 === 'O') ||
                  (formData.f31 === 'J' && formData.f32 === 'O' && formData.f33 === 'O')" %}

{% assign steps = page.metafields.quiz.quiz.value  %}


{% assign diagnosticos = customer.metafields.custom.diagnosticos.value |  json  %}
{% assign diagnostics = diagnosticos | replace: '"', "'"  %}
<hr>
<h2>Results anteriores</h2>{{ diagnostics }}
  
<div class="page-width"
   x-data="{ 
   jsondiagnostics: {{ diagnostics }},
   customerId: '{{ customer.id }}',
   formData: {  
   name: '', 
   gender: '', 
   age: '', 
   f21: '', 
   f22: '', 
   f23: '', 
   f31: '', 
   f32: '', 
   f33: '', 
   selected: [],
     selectedOptions: [],
   f51: '', 
   f52: '', 
   f53: '',
    f54: '',
   peau: '',
  madure: '',
  deshy: ''
   }, 
    ing1: '',
    selectedOptions: [],
    ing2: '',
    ing3: '',
    setIngredients(ingredient1, ingredient2, ingredient3) {
        this.ing1 = ingredient1;
        this.ing2 = ingredient2;
        this.ing3 = ingredient3;
    },
     setPreocu(preocu1, preocu2, preocu3) {
        this.preocu1 = preocu1;
        this.preocu2 = preocu2;
        this.preocu13 = preocu3;
    },
   step: 1, 
   activeStepColor: '#fbbf24', 
   selected: [],
   jsonData: null,
     fetchData() {


     {% comment %}
     https://apiv2.shopflex.io/auth/trigger/6qxdtmxdfa 
     {% endcomment %}
     
      const baseUrl = 'https://apiv2.shopflex.io/auth/trigger/7i54koeqts';
      const urlParams = new URLSearchParams({
        customerId: this.customerId,
        ...this.jsonData
      });
     
  console.log(urlParams);
      const url = `${baseUrl}?${urlParams.toString()}`;

      fetch(url)

  
        .then(response => response.json())
        .then(data => {
          // Procesar la respuesta del servidor
          console.log(data);
             this.step++;
         setTimeout(function() {
  window.location.href = 'https://hilo-cosmetiques.myshopify.com/pages/result-diagnostic';
}, 3000);

        })
        .catch(error => {
          // Manejar cualquier error ocurrido durante la solicitud
          console.error(error);
        });
    }
   }
   "
  
   style="margin-bottom:100px;" >
   <div class="etapas grid grid-cols-4 text-center justify-center" 
      :class="{ 'active-step1': step === 1 , 'active-step2': step === 2 , 'active-step3': step === 3 ,  'active-step4': step === 4 ,  'active-step6': step === 6 }">
      <div class="container-step container-step1" >
         <div class="etapa1  etapas5 border-2  rounded-sm border-teal-600 bg-teal-300 p-10 mb-10" 
         @click="step = 1;" :class="{ 'active-step': step === 1 }">
            1
         </div>
         Profil
      </div>
      <div class="container-step container-step2" >
         <div class="etapa2 etapas5  border-2  rounded-sm border-teal-600 bg-teal-300 p-10 mb-10"  @click="step = 2;" :class="{ 'active-step': step === 2 }">
            2
         </div>
         Tendances de peau
      </div>
      <div class="container-step container-step3">
         <div class="etapa3 etapas5  border-2  rounded-sm border-teal-600 bg-teal-300 p-10 mb-10 "   @click="step = 3;":class="{ 'active-step': step === 3 }">
            3
         </div>
         Etat temporaire
      </div>
      <div class="container-step container-step4 ">
         <div class="etapa4  etapas5  border-2  rounded-sm border-teal-600 bg-teal-300 p-10 mb-10"  @click="step = 6;" :class="{ 'active-step': step === 4}">
            4
         </div>
         Préoccupations
      </div>
   </div>
   
   <div class="form-quiz">
      {% for step in steps %}
      <div class="step{{ forloop.index }} border-2  rounded-sm  p-20 m-20 border-radius" x-show="step === {{ forloop.index }}">
         {% if forloop.index != 1  %}
         <div class="back-container mb-20"  @click="step--;" >
            <span>   < Précédent</span>
         </div>
         {% endif %}
         {% if forloop.index == 4  %}
         <fieldset class="mb-10">
      <legend>En ce moment, quelles sont les préoccupations que vous avez vis-à-vis de votre peau ? (sélectionnez 1 à 3 réponses)</legend>
      <div class="container-label">
         <input type="checkbox" id="Imperfections" name="Imperfections" value="Imperfections" x-model="selected">
         <label for="Imperfections">Imperfections</label>
      </div>
      <div class="container-label">
         <input type="checkbox" id="Signes de lage" name="Signes de lage" value="Signes" x-model="selected">
         <label for="Signes de lage">Signes de l'âge</label>
      </div>
      <div class="container-label">
         <input type="checkbox" id="Deshydratation" name="Deshydratation" value="Deshydratation" x-model="selected">
         <label for="Deshydratation">Déshydratation</label>
      </div>
      <div class="container-label">
         <input type="checkbox" id="Rougeurs, irritations cutanées" name="Rougeurs, irritations cutanées" 
           value="Rougeurs" x-model="selected">
         <label for="Rougeurs, irritations cutanées">Rougeurs, irritations cutanées</label>
      </div>
      <div class="container-label">
         <input type="checkbox" id="Eclat" name="Eclat" value="Eclat" x-model="selected">
         <label for="Eclat">Eclat</label>
      </div>
      <div class="container-label">
         <input type="checkbox" id="Brillance" name="Brillance" value="Brillance" x-model="selected">
         <label for="Brillance">Brillance</label>
      </div>
<button x-on:click="if (selected.length >= 1 && selected.length <= 3) { step++; selectedOptions = [...selected]; } else { alert('Veuillez sélectionner de 1 à 3 options.'); }" class="text-white font-bold py-2 px-4 rounded">
   Valider
</button>

<div x-show="selectedOptions && selectedOptions.length > 0">
   <h3>Selección guardada:</h3>
   <ul>
      <template x-for="option in selectedOptions">
         <li x-text="option"></li>
      </template>
   </ul>
</div>

 
    
         {% else %}
         {% for field in step.fields %}
         <div class="faq{{ forloop.index }}  mb-10">
            <fieldset>
            <legend>{{ field.label }}</legend>
            {% for option in field.options %}
            {% if field.type == "radio" %}
            <div class="container-label">
               <input type="radio" name="{{ field.name }}" value="{{ option.value }}"
                  x-bind:checked="formData.{{ field.name }} === '{{ option.value }}'" 
                  x-on:click="formData.{{ field.name }} = '{{ option.value }}'"> 
               <label>{{ option.label }} </label>
            </div>
            {% else %}
            <div class="flex">
               <legend>Je réalise ce diagnostic pour :</legend>
               <input id="prenom" class="ml-20 px-2 py-1   w-200 pl-10" type="text" placeholder="Prénom"  x-model="formData.name" 
                  style="border-radius:30px; max-width:300px; width:80%;     height: 40px;  required">
            </div>
            {% endif %}
            {% endfor %}
            <fieldset>
         </div>
         {% endfor %}
           {% case forloop.index %}
   {% when 1 %}
     <button @click="if(formData.name && formData.gender && formData.age) { 
          formData.madure = (formData.age === 'nomadure' ? 'nomadure' : 'madure'); 
         
          step++; 
        } else { 
          alert('Por favor complete todos los campos requeridos'); 
        }
        " 
        class="text-white font-bold py-2 px-4 rounded">Valider</button>
              
   {% when 2 %}
  <button @click="
  if(formData.f21 && formData.f22 && formData.f23) {
    if({{ seche2 }}) {
      formData.peau = 'seche';
    } else if({{ mixte2 }}) {
      formData.peau = 'mixte';
    } else if({{ grasse2 }}) {
      formData.peau = 'grasse';
    } else if({{ normal2 }}) {
      formData.peau = 'normale';
    } else {
      alert('Por favor complete todos los campos requeridos');
      return;
    }
    step++;
  } else {
    alert('Por favor complete todos los campos requeridos');
  }
" class="text-white font-bold py-2 px-4 rounded">Valider</button>
<br>
            


   {% when 3 %}
<button @click="
  if(formData.f31 && formData.f32 && formData.f33) {
    if({{ nodeshy }}) {
      formData.deshy = 'nodeshy';
    } else {
      formData.deshy = 'deshy';
    }
    step++;
  } else {
    alert('Por favor complete todos los campos requeridos');
  }
" class="text-white font-bold py-2 px-4 rounded">Valider</button>

   {% when 4 %}
    <button @click="if(selected.length >= 1 && selected.length <= 3) step++; else alert('Veuillez sélectionner au moins une option.');" 
               class=" text-white font-bold py-2 px-4 rounded">
               Valider</button>

   {% when 5 %}
        <button @click="
  if(formData.peau && formData.madure && formData.deshy) {
    if(formData.peau === 'seche') {
      if(formData.madure === 'madure') {
        if(formData.deshy === 'deshy') {
          setIngredients('Onagre', 'Argan', 'Amande');
        } else if(formData.deshy === 'nodeshy') {
          setIngredients('Amande', 'Carotte', 'Argan');
        }
      } else if(formData.madure === 'nomadure') {
        if(formData.deshy === 'deshy') {
          setIngredients('Onagre', 'Abricot', 'Amande');
        } else if(formData.deshy === 'nodeshy') {
          setIngredients('Amande', 'Abricot', 'Abricot');
        }
      }
    } else if(formData.peau === 'mixte') {
      if(formData.madure === 'madure') {
        if(formData.deshy === 'deshy') {
          setIngredients('Argan', 'Onagre', 'Carotte');
        } else if(formData.deshy === 'nodeshy') {
          setIngredients('Abricot', 'Argan', 'Carotte');
        }
      } else if(formData.madure === 'nomadure') {
        if(formData.deshy === 'deshy') {
          setIngredients('Onagre', 'Amande', 'Noisette');
        } else if(formData.deshy === 'nodeshy') {
          setIngredients('Noisette', 'Abricot', 'Abricot');
        }
      }
    } else if(formData.peau === 'normale') {
      if(formData.madure === 'madure') {
        if(formData.deshy === 'deshy') {
          setIngredients('Onagre', 'Abricot', 'Amande');
        } else if(formData.deshy === 'nodeshy') {
          setIngredients('Onagre', 'Abricot', 'Amande');
        }
      } else if(formData.madure === 'nomadure') {
        if(formData.deshy === 'deshy') {
          setIngredients('Onagre', 'Abricot', 'Amande');
        } else if(formData.deshy === 'nodeshy') {
          setIngredients('Carotte', 'Amande', 'Abricot');
        }
      }
    } else if(formData.peau === 'grasse') {
      if(formData.madure === 'madure') {
        if(formData.deshy === 'deshy') {
          setIngredients('Noisette', 'Onagre', 'Argan');
        } else if(formData.deshy === 'nodeshy') {
          setIngredients('Argan', 'Noisette', 'Carotte');
        }
      } else if(formData.madure === 'nomadure') {
        if(formData.deshy === 'deshy') {
          setIngredients('Noisette', 'Onagre', 'Noisette');
        } else if(formData.deshy === 'nodeshy') {
          setIngredients('Abricot', 'Noisette', 'Noisette');
        }
      }
    }
    


 if(formData.f51 && formData.f52 && formData.f53  && formData.f54) { 
  }


let selectedOptionsJSON = JSON.stringify(selectedOptions, null, 2);
selectedOptionsJSON = selectedOptionsJSON.replace(/\\/g, '').replace(/\n/g, '');
let resultsJSON = JSON.stringify(jsondiagnostics, null, 2);
resultsJSON = resultsJSON.replace(/\\/g, '').replace(/\n/g, '');
          resultsJSON = resultsJSON.replace(/\[|\]/g, '');

  // Resto del código
      jsonData = { name: formData.name, gender: formData.gender, age: formData.age , peau: formData.peau, 
      deshy: formData.deshy, madure: formData.madure,
       preocupa1: selectedOptions[0],
           preocupa2: selectedOptions[1],
           preocupa3:selectedOptions[2],
        f51: formData.f51, f52: formData.f52, f53: formData.f53, f54: formData.f54
             , ing1: ing1
             , ing2: ing2
             , ing3: ing3,
             result: resultsJSON            }
           {% if customer %} 
               
 fetchData()
} else {
  alert('Por favor complete todos los campos requeridos');
}
             {% endif %}

    


" class="text-white font-bold py-2 px-4 rounded">Valider</button>

   {% else %}
    <button @click="step++ " class="text-white font-bold py-2 px-4 rounded">Valider</button>

{% endcase %}

              
        
         {% endif %}
      </div>
      {% endfor %}
      <div class="step6 py-4 px-10 " x-show="step === 6">
       {% if customer %}

<h2 class="text-center pb-20">NOUS ANALYSONS VOS REPONSES</h2>
         <div class="columns5 flex text-center justify-around">
           <div class="column1">
         <img src="">
         <h3>Personnalisé</h3>
           </div>
            <div class="column2">
                 <img src="">
         <h3>Naturel</h3>
           </div>
            <div class="column3">
                 <img src="">
                  <h3>Anti-gaspi</h3>
           </div>
            <div class="column4">
                 <img src="">
                  <h3>Vegan</h3>
           </div>
            <div class="column5">
                 <img src="">
                  <h3>Unique</h3>
           </div>
         
         </div>


         
       {% else %}
     
   <div class="customer register section-{{ section.id }}-padding">
  <svg style="display: none">
    <symbol id="icon-error" viewBox="0 0 13 13">
      <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
      <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
      <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
      <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
    </symbol>
  </svg>
  <h2 class="text-center">
   DECOUVREZ VOTRE MATCH PARFAIT
  </h2>
         <p  class="text-center">Dernière étape avant de découvrir la combinaison d'huiles végétales qui viendra personnaliser vos cosmétiques et sublimer votre peau.<br><br> Créez votre compte pour sauvegarder vos résultats.
         </p>
  {%- form 'create_customer', novalidate: 'novalidate' -%}
     <input type="hidden" name="return_to" value="pages/loading-diagnostic">
    {%- if form.errors -%}
      <h2 class="form__message" tabindex="-1" autofocus>
        <svg aria-hidden="true" focusable="false" role="presentation">
          <use href="#icon-error" />
        </svg>
        {{ 'templates.contact.form.error_heading' | t }}
      </h2>
      <ul> 
        {%- for field in form.errors -%}
          <li>
            {%- if field == 'form' -%}
              {{ form.errors.messages[field] }}
            {%- else -%}
              <a href="#RegisterForm-{{ field }}">
                {{ form.errors.translated_fields[field] | capitalize }}
                {{ form.errors.messages[field] }}
              </a>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
     <label for="RegisterForm-FirstName" style="position:relative !important; border:0 !important;">
        {{ 'customer.register.first_name' | t }}
      
    
     </label>
    <div class="field">  
    
      <input
        type="text"
        name="customer[first_name]"
        id="RegisterForm-FirstName"
        {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
        autocomplete="given-name"
        placeholder="{{ 'customer.register.first_name' | t }}"
      >
    </div>
     <label for="RegisterForm-LastName" style="position:relative !important; border:0 !important;">
        {{ 'customer.register.last_name' | t }}
      </label>
    <div class="field">
      <input
        type="text"
        name="customer[last_name]"
        id="RegisterForm-LastName"
        {% if form.last_name %}value="{{ form.last_name }}"{% endif %}
        autocomplete="family-name"
        placeholder="{{ 'customer.register.last_name' | t }}"
      >
     
    </div>
      <label for="RegisterForm-email" style="position:relative !important; border:0 !important;" >
        {{ 'customer.register.email' | t }}
      </label>
    <div class="field">      
      <input
        type="email"
        name="customer[email]"
        id="RegisterForm-email"
        {% if form.email %} value="{{ form.email }}"{% endif %}
        spellcheck="false"
        autocapitalize="off"
        autocomplete="email"
        aria-required="true"
        {% if form.errors contains 'email' %}
          aria-invalid="true"
          aria-describedby="RegisterForm-email-error"
        {% endif %}
        placeholder="{{ 'customer.register.email' | t }}"
      >
    
    </div>
    {%- if form.errors contains 'email' -%}
      <span id="RegisterForm-email-error" class="form__message">
        <svg aria-hidden="true" focusable="false" role="presentation">
          <use href="#icon-error" />
        </svg>
        {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.
      </span>
    {%- endif -%}
     <label for="RegisterForm-password" style="position:relative !important; border:0 !important;">
        {{ 'customer.register.password' | t }}
      </label>
    <div class="field">     
      <input
        type="password"
        name="customer[password]"
        id="RegisterForm-password"
        aria-required="true"
        {% if form.errors contains 'password' %}
          aria-invalid="true"
          aria-describedby="RegisterForm-password-error"
        {% endif %}
        placeholder="{{ 'customer.register.password' | t }}"
      >
     
    </div>
    {%- if form.errors contains 'password' -%}
      <span id="RegisterForm-password-error" class="form__message">
        <svg aria-hidden="true" focusable="false" role="presentation">
          <use href="#icon-error" />
        </svg>
        {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.
      </span>
    {%- endif -%}
    <div class="field">     
      <div class="jsondata">
        <textarea id="jsondata" name="customer[note]"  hidden x-text="JSON.stringify(jsonData)"></textarea>
      </div>
    </div>
        
    <button>
      Je découvre mes recommandations
    </button>
  {%- endform -%}
</div>

       {%endif %}
{% comment %}
         <div class="div-with-svg">
            <h2 class="text-center " style="text-transform:uppercase;">{% if customer %}{{ customer.first_name }} {% else %}<span x-text="formData.name" > </span> {% endif %}, VOICI VOS RESULTATS :
            </h2>
            <p class="text-center">Grâce à vos réponses, nous avons pu identifier vos caractéristiques de peau afin de vous proposer les capsules d'huiles végétales les plus adaptées pour personnaliser vos cosmétiques et prendre soin de votre visage. Si cette combinaison ne vous convient pas, ou si vous avez des allergies, vous pourrez modifier vos huiles végétales à l'étape suivante.</p>
         </div>
         <div class="two-columns flex gap-x-40 mt-20">
            <div class="one-column  flex-1 border-2  rounded-sm border-teal-600 bg-teal-300 p-10 ">
               <h3 class="text-center">          VOS TENDANCES DE PEAU DU MOMENT        </h3>

         
         <p x-show="
  {{ seche2 }}     "
  >
  {{ seche }}
</p>
<p x-show=" {{ mixte2 }}
  "
  >
  {{ mixte }}
</p>
<p x-show=" {{ grasse2 }}
  "
  >
  {{ grasse }}
</p>
<!-- Para piel normal -->
<p x-show="
  {{ normal2 }}"
  >
  {{ normal }}
</p>


           
               <p x-show="formData.age === 'nomadure'">

                  {{ nomadure }}
               </p>
               <p x-show="formData.age !== 'nomadure'"
            >
                  {{ madure }}
               </p>
           
           

             <p x-show="{{ nodeshy }}"
               
                  >
                  {{ nondeshydratee }}
               </p>
           
                <p  x-show="{{ deshy }}
                "
                   
                  >
                  {{  deshydratee }}
               </p>
           
             
              
           
            </div>
           
            <div class="one-column flex-1 result border-2  rounded-sm border-teal-600 bg-teal-300 p-10">
               <h3 class="text-center">VOTRE MATCH PARFAIT DU MOMENT</h3>
               <p class="text-left">Ces huiles végétales sont connues pour les propriétés suivantes* :</p>
 
 
        


              
               <div class="container-result flex" >
                  <div class="container-image">
                    <img x-bind:src="(ing1 === 'Amande') ? '{{ 'damandedouce.png' | asset_url }}' : 
                  (ing1 === 'Onagre') ? '{{ 'donagre.png' | asset_url }}' :
                  (ing1 === 'Argan') ? '{{ 'dargan.png' | asset_url }}' :
                  (ing1 === 'Abricot') ? '{{ 'dabricot.png' | asset_url }}' :
                  (ing1 === 'Noisette') ? '{{ 'noisette.png' | asset_url }}' :
                  '{{ 'carotte.png' | asset_url }}'"
     alt="Imagen del ingrediente 1"  style="width:32px;">
        </div>
                  <div class="container-result-p">
                     <p x-text="ing1"></p>
                  </div>
               </div>
               <div class="container-result flex" >
                  <div class="container-image">
                      <img x-bind:src="(ing2 === 'Amande') ? '{{ 'damandedouce.png' | asset_url }}' : 
                  (ing2 === 'Onagre') ? '{{ 'donagre.png' | asset_url }}' :
                  (ing2 === 'Argan') ? '{{ 'dargan.png' | asset_url }}' :
                  (ing2 === 'Abricot') ? '{{ 'dabricot.png' | asset_url }}' :
                  (ing2 === 'Noisette') ? '{{ 'noisette.png' | asset_url }}' :
                  '{{ 'carotte.png' | asset_url }}'"
     alt="Imagen del ingrediente 2"  style="width:32px;">
              
                  </div>
                  <div class="container-result-p">
                      <p x-text="ing2"></p>
                  </div>
               </div>
               <div class="container-result flex" >
                  <div class="container-image">
                     <img x-bind:src="(ing3 === 'Amande') ? '{{ 'damandedouce.png' | asset_url }}' : 
                  (ing3 === 'Onagre') ? '{{ 'donagre.png' | asset_url }}' :
                  (ing3 === 'Argan') ? '{{ 'dargan.png' | asset_url }}' :
                  (ing3 === 'Abricot') ? '{{ 'dabricot.png' | asset_url }}' :
                  (ing3 === 'Noisette') ? '{{ 'noisette.png' | asset_url }}' :
                  '{{ 'carotte.png' | asset_url }}'"
     alt="Imagen del ingrediente 3" style="width:32px;">
                  </div>
                  <div class="container-result-p">
                       <p x-text="ing3"></p>
                  </div>
               </div>
            </div>

            
         </div>
         <div class="container-routine mt-20">
            <h2 class="text-center">VOTRE ROUTINE PERSONNALISEE</h2>
            <p class="text-center">Voici les soins personnalisés à l'image de votre peau avec votre match parfait du moment (indiqué ci-dessus).</p>
            <p class="text-center">Tous nos produits sont rechargeables à l'infini (et au delà… 🚀) pour économiser 95,6% de plastiques.<br>
               Vous pourrez choisir à l'étape suivante, pour chaque produit, si vous souhaitez le format pot + recharge (première utilisation) ou juste la recharge à clipser dans votre pot Hilo.
            </p>
            <a href="#" class="button btn">J'ajoute ma routine au panier</a>
         </div>
      </div>
  {% endcomment %}
        
   </div>

              
 
     



  


</div>
  
   
</div>

</div>
          
  


<style>
.border-radius {
  border-radius: 52px;
}
.etapas {
column-gap:8rem !important;
position: relative;
overflow:hidden;
}
.etapas .etapas5 {
background:#CDCDCD;
position: relative;
border-radius:100%;
font-size:30px;
width:64px;
height:64px;
line-height:64px;
display: flex;
align-items: center;
justify-content: center;
}
.container-step {
font-weight:600;
color:#575756;
}
.container-step::after {
position:absolute;
content:"";
width:250px;
left:50px;
top:35px;
height:4px;  z-index:-1;
background:#F5DEA3;

}
.active-step1 .container-step::after {
  
background:#F5DEA3;

}
.active-step2 .container-step::after {

background:#CDE4CA;

}
.active-step3 .container-step::after  {

background:#B7DAF3;

}
.active-step4 .container-step::after  {

background:#F8C8D3;

}


.container-step4::after  {

content:none;

}
  .active-step6  .container-step {
  
  display:none !important;
  }
.container-step {

text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;
}
.step1 {

background:#fdf8ed; border-color:#f5dfa5;
}
.step2 {

background:#f2f8f1; border-color:#cde4ca;
}
.step3 {
border-color:#b7daf3; background:#eef6fc;

}
.step4 {
border-color:#F8C8D3; background:#FDEDF1;
}
.step5 {
border-color:#F8C8D3; background:#FDEDF1;
}

  .step6
  {
    background:#F4F1F8; border-color:#D0C4E2;
   
  }


.step1 input[type="radio"]:checked + label {
background-color: #F5DEA3; /* Cambiar a tu color preferido */
}
.form-quiz button {

border-radius:26px;
padding:5px 60px;
}
.step1 button {
background-color: #F5DEA3;

}
.form-quiz  .step1 label {
border: 1px solid #F5DEA3;
}

.step2 input[type="radio"]:checked + label {
background-color: #cde4ca; /* Cambiar a tu color preferido */
}
.form-quiz  .step2   label {
border: 1px solid #cde4ca;
}
.step2 button {
background-color: #cde4ca;

}
.step3 input[type="radio"]:checked + label {
background-color: #b7daf3; /* Cambiar a tu color preferido */
}
.form-quiz     .step3   label {
border: 1px solid #b7daf3;
}
.step3 button {
background-color: #b7daf3;

}
.step4 input[type="checkbox"]:checked + label , .step4 input[type="radio"]:checked + label {
background-color: #F8C8D3; /* Cambiar a tu color preferido */
}
.step4 button,  .step5 button {
background-color: #F8C8D3;

}
.form-quiz   .step4 label {
border: 1px solid #F8C8D3;
}

.step5 input[type="radio"]:checked + label {
background-color: #F8C8D3; /* Cambiar a tu color preferido */
}
.form-quiz  .step5  label {
border: 1px solid #F8C8D3;
}

.container-label  {
position:relative;
width:fit-content;
}
.container-label input ,  .container-label input{
position:absolute;
opacity:0;
width:100%;
height:100%;
}
.form-quiz label {
width: fit-content;
border: 1px solid #F5DEA3;
border-radius: 26px;
background: transparent;
padding: 2px 15px;
margin-bottom:10px;
}


label {
display:block;
}
.step1  .legend {
color: #575756;
font-size: 20px;
font-weight: 600;
margin-bottom: 20px;
}
legend {
color: #575756;
font-size: 20px;
font-weight: 600;
margin-bottom: 20px;

}
.etapa1.active-step {
background-color: #F5DEA3;
}
.etapa2.active-step {
background-color:    #CDE4CA;
}
.etapa3.active-step {
background-color:    #B7DAF3;
}
.etapa4.active-step {
background-color:    #F8C8D3;
}
.etapa5.active-step {
background-color:    #F8C8D3;
}
/* Result */
  .one-column  {
    background:#FEF4EC;
    border:2px solid #FBD1AD;
    border-radius:26px;
    color:#575756;
  }
   .one-column h3 {
     font-weight:600;
     font-size:24px;
     margin-bottom:20px;
   }
  .one-column p
  {
    font-size:14px;
     margin-bottom:15px;
  }
  
</style>


              <script>
  {% comment %} 



function customerupdate(formData2) {

const storeName = 'hilo-cosmetiques.myshopify.com';
const customerId = '6953631580455'; // replace with the ID of the customer you want to fetch
const metafieldId = '29093746475303'; // replace with the ID of the customer you want to fetch
var accessToken = '';

// Construir la URL de la API de Shopify para actualizar el cliente
const url = `https://${storeName}/admin/api/2023-04/customers/${customerId}/metafields/${metafieldId}.json`;

// Construct the request options, including the new value of the metafield
const options = {
  method: 'PUT',
  headers: {
    'Content-Type': 'application/json',
    'X-Shopify-Access-Token': accessToken,
  },
  body: JSON.stringify({
    metafield: {
      value: '{"data":"nacho2"}',
    },
  }),
};

// Send the PUT request to update the customer metafield
fetch(url, options)
  .then((response) => {
    if (response.ok) {
      return response.json();
    }
    throw new Error('Error updating customer metafield');
  })
  .then((data) => {
    console.log('Customer metafield updated successfully:', data);
  })
  .catch((error) => {
    console.error('Error updating customer metafield:', error);
  });


};
{% endcomment %}


                {% capture seche %}
✨ Vous avez une peau à tendance sèche : Vous avez une peau à tendance sèche. Elle ne produit pas beaucoup de
sébum ce qui peut la rendre rêche, terne et provoquer des tiraillements et irritations. La peau
sèche est plus sensible que les autres et manque de souplesse.
{% endcapture %}
{% capture normal %}
✨ Vous avez une peau à tendance normale : Vous avez une peau à tendance normale. C’est la peau considérée comme
parfaite. Elle est très bien équilibrée, douce, lisse et son grain est régulier.
{% endcapture %}
{% capture mixte %}
✨ Vous avez une peau à tendance mixte : Vous avez une peau à tendance mixte. Ce type de peau est un mélange de
différentes caractéristiques de peau en fonction des zones du visage. La peau est
généralement grasse sur la zone T du visage (front, nez, menton) et plus sèche sur le reste
du visage. Des sensations de tiraillements peuvent être ressenties et elle peut présenter des
imperfections.
{% endcapture %}
{% capture grasse %}
✨ Vous avez une peau à tendance grasse : Vous avez une peau à tendance grasse. Elle produit beaucoup de sébum ce
qui peut lui donner un aspect brillant. Le grain de peau est irrégulier, les pores sont dilatés
ce qui peut favoriser l’apparition d’imperfections. Elle se déshydrate et s’irrite facilement, il
ne faut donc pas négliger l’hydratation.
{% endcapture %}
{% capture madure %}
✨ La production naturelle de collagène de votre corps diminue et votre peau
peut commencer à se relâcher. On conseille de commencer à traiter le vieillissement cutané
aux alentours de 25 ans afin de prévenir l’apparition de rides et ridules.
{% endcapture %}
{% capture nomadure %}
✨ Votre peau est tonique et possède encore toute son élasticité.
{% endcapture %}
{% capture deshydratee %}
✨ Votre peau est déshydratée. Elle manque d’eau, ce qui altère le film
hydrolipidique de l’épiderme et affaiblit la barrière cutanée. La déshydratation peut causer
des tiraillements, des irritations, un manque de souplesse et une perte d’éclat.
{% endcapture %}
{% capture nondeshydratee %}
✨ Votre peau est bien hydratée. L’hydratation est primordiale et
permet d’avoir une peau saine. Il est important de conserver cette hydratation pour une peau
en pleine santé.
{% endcapture %}
</script>
{% schema %}
  {
    "name": "Section name",
    "settings": [],
   "presets": [
    {
      "name": "Quiz",
      "category": "Quiz by Sections.design",
      "blocks": [
      ]
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}