
{% capture seche %}
✨ Vous avez une peau à tendance sèche : Vous avez une peau à tendance sèche. Elle ne produit pas beaucoup de
sébum ce qui peut la rendre rêche, terne et provoquer des tiraillements et irritations. La peau
sèche est plus sensible que les autres et manque de souplesse.
{% endcapture %}
{% capture normal %}
✨ Vous avez une peau à tendance normale : Vous avez une peau à tendance normale. C’est la peau considérée comme
parfaite. Elle est très bien équilibrée, douce, lisse et son grain est régulier.
{% endcapture %}
{% capture mixte %}
✨ Vous avez une peau à tendance mixte : Vous avez une peau à tendance mixte. Ce type de peau est un mélange de
différentes caractéristiques de peau en fonction des zones du visage. La peau est
généralement grasse sur la zone T du visage (front, nez, menton) et plus sèche sur le reste
du visage. Des sensations de tiraillements peuvent être ressenties et elle peut présenter des
imperfections.
{% endcapture %}
{% capture grasse %}
✨ Vous avez une peau à tendance grasse : Vous avez une peau à tendance grasse. Elle produit beaucoup de sébum ce
qui peut lui donner un aspect brillant. Le grain de peau est irrégulier, les pores sont dilatés
ce qui peut favoriser l’apparition d’imperfections. Elle se déshydrate et s’irrite facilement, il
ne faut donc pas négliger l’hydratation.
{% endcapture %}
{% capture madure %}
✨ La production naturelle de collagène de votre corps diminue et votre peau
peut commencer à se relâcher. On conseille de commencer à traiter le vieillissement cutané
aux alentours de 25 ans afin de prévenir l’apparition de rides et ridules.
{% endcapture %}
{% capture nomadure %}
✨ Votre peau est tonique et possède encore toute son élasticité.
{% endcapture %}
{% capture deshydratee %}
✨ Votre peau est déshydratée. Elle manque d’eau, ce qui altère le film
hydrolipidique de l’épiderme et affaiblit la barrière cutanée. La déshydratation peut causer
des tiraillements, des irritations, un manque de souplesse et une perte d’éclat.
{% endcapture %}
{% capture nondeshydratee %}
✨ Votre peau est bien hydratée. L’hydratation est primordiale et
permet d’avoir une peau saine. Il est important de conserver cette hydratation pour une peau
en pleine santé.
{% endcapture %}
{% assign steps = page.metafields.quiz.quiz.value  %}

<form action="https://apiv2.shopflex.io/auth/trigger/boksbfk5yw?customerid={{ customer.id }}" 
method="post" enctype="multipart/form-data">
  <button class="form__submit-btn" type="submit">submit</button>
</form>
<div class="page-width"
   x-data="{ 
   formData: {  
   name: '', 
   gender: '', 
   age: '', 
   f21: '', 
   f22: '', 
   f23: '', 
   f31: '', 
   f32: '', 
   f33: '', 
   selected: [],
   f41: '', 
   f42: '', 
   f43: '',
    peau: '',
  madure: '',
  deshy: ''
   }, 
   step: 1, 
   activeStepColor: '#fbbf24', 
   selected: []
   }"
   style="margin-bottom:100px;" >
   <div class="etapas grid grid-cols-4 text-center justify-center" 
      :class="{ 'active-step1': step === 1 , 'active-step2': step === 2 , 'active-step3': step === 3 ,  'active-step4': step === 4 }">
      <div class="container-step container-step1" >
         <div class="etapa1  etapas5 border-2  rounded-sm border-teal-600 bg-teal-300 p-10 mb-10" 
         @click="step = 1;" :class="{ 'active-step': step === 1 }">
            1
         </div>
         Profil
      </div>
      <div class="container-step container-step2" >
         <div class="etapa2 etapas5  border-2  rounded-sm border-teal-600 bg-teal-300 p-10 mb-10"  @click="step = 2;" :class="{ 'active-step': step === 2 }">
            2
         </div>
         Tendances de peau
      </div>
      <div class="container-step container-step3">
         <div class="etapa3 etapas5  border-2  rounded-sm border-teal-600 bg-teal-300 p-10 mb-10 "   @click="step = 3;":class="{ 'active-step': step === 3 }">
            3
         </div>
         Etat temporaire
      </div>
      <div class="container-step container-step4 ">
         <div class="etapa4  etapas5  border-2  rounded-sm border-teal-600 bg-teal-300 p-10 mb-10"  @click="step = 4;" :class="{ 'active-step': step === 4}">
            4
         </div>
         Préoccupations
      </div>
   </div>
   
   <div class="form-quiz">
      {% for step in steps %}
      <div class="step{{ forloop.index }} border-2  rounded-sm  p-20 m-20 border-radius" x-show="step === {{ forloop.index }}">
         {% if forloop.index != 1  %}
         <div class="back-container mb-20"  @click="step--;" >
            <span>   < Précédent</span>
         </div>
         {% endif %}
         {% if forloop.index == 4  %}
         <fieldset class="mb-10">
            <legend>En ce moment, quelles sont les préoccupations que vous avez vis-à-vis de votre peau ? (sélectionnez 1 à 3 réponses)</legend>
            <div class="container-label">
               <input type="checkbox" id="Imperfections" name="Imperfections" value="Imperfections"
                  x-model="selected"
                  x-bind:checked="formData.preoccupations === 'Imperfections'" 
                  x-on:click="formData.preoccupations = 'Imperfections'" 
                  x-on:change="if (selected.length >= 3) { selected.pop(); }">
               <label for="Imperfections">Imperfections  </label>
            </div>
            <div class="container-label">
               <input type="checkbox" id="Signes de lage" name="Signes de lage" value="Signes de lage"
                  x-model="selected"
                  x-bind:checked="formData.preoccupations === 'Signes de lage'"
                  x-on:click="formData.preoccupations = 'Signes de lage'"
                  x-on:change="if (selected.length >= 3) { selected.pop(); }">
               <label for="Signes de lage">Signes de l'âge</label>
            </div>
            <div class="container-label">
               <input type="checkbox" id="Deshydratation" name="Deshydratation" value="Deshydratation"
                  x-model="selected"
                  x-bind:checked="formData.preoccupations === 'Deshydratation'" 
                  x-on:click="formData.preoccupations = 'Deshydratation'"
                  x-on:change="if (selected.length >= 3) { selected.pop(); }">
               <label for="Deshydratation">Déshydratation</label>
            </div>
            <div class="container-label">
               <input type="checkbox" id="Rougeurs, irritations cutanées" name="Rougeurs, irritations cutanées" value="Rougeurs, irritations cutanées"
                  x-model="selected"
                  x-bind:checked="formData.preoccupations === 'Rougeurs'" x-on:click="formData.preoccupations = 'Rougeurs'"
                  x-on:change="if (selected.length >= 3) { selected.pop(); }">
               <label for="Rougeurs, irritations cutanées">Rougeurs, irritations cutanées</label>
            </div>
            <div class="container-label">
               <input type="checkbox" id="Eclat" name="Eclat" value="Eclat"
                  x-model="selected"
                  x-bind:checked="formData.preoccupations === 'Eclat'" x-on:click="formData.preoccupations = 'Eclat'"
                  x-on:change="if (selected.length >= 3 { selected.pop(); }">
               <label for="Eclat">Eclat</label>
            </div>
            <div class="container-label">
               <input type="checkbox" id="Brillance" name="Brillance" value="Brillance"
                  x-model="selected"
                  x-bind:checked="formData.preoccupations === 'Brillance'" x-on:click="formData.preoccupations = 'Brillance'"
                  x-on:change="if (selected.length >= 4 { selected.pop(); }">
               <label for="Brillance">Brillance</label>
            </div>
            <button @click="step++;"  class=" text-white font-bold py-2 px-4 rounded">Valider</button>
         </fieldset>
         {% else %}
         {% for field in step.fields %}
         <div class="faq{{ forloop.index }}  mb-10">
            <fieldset>
            <legend>{{ field.label }}</legend>
            {% for option in field.options %}
            {% if field.type == "radio" %}
            <div class="container-label">
               <input type="radio" name="{{ field.name }}" value="{{ option.value }}"
                  x-bind:checked="formData.{{ field.name }} === '{{ option.value }}'" 
                  x-on:click="formData.{{ field.name }} = '{{ option.value }}'"> 
               <label>{{ option.label }} </label>
            </div>
            {% else %}
            <div class="flex">
               <legend>Je réalise ce diagnostic pour :</legend>
               <input id="prenom" class="ml-20 px-2 py-1   w-200 pl-10" type="text" placeholder="Prénom"  x-model="formData.name" 
                  style="border-radius:30px; max-width:300px; width:80%;     height: 40px; ">
            </div>
            {% endif %}
            {% endfor %}
            <fieldset>
         </div>
         {% endfor %}
         {% if forloop.index != 5  %}
         <button @click="step++;"  class=" text-white font-bold py-2 px-4 rounded">Valider</button>
         {% else == 5 %}
         <button @click="step++;" 
            class=" text-white font-bold py-2 px-4 rounded">Valider</button>
         {% endif %}
         {% endif %}
      </div>
      {% endfor %}
      <div class="step6 " x-show="step === 6">
         {% if customer %}
         <div class="div-with-svg">
            <h2 class="text-center">{{ customer.first_name }}, VOICI VOS RESULTATS :
            </h2>
            <p class="text-center">Grâce à vos réponses, nous avons pu identifier vos caractéristiques de peau afin de vous proposer les capsules d'huiles végétales les plus adaptées pour personnaliser vos cosmétiques et prendre soin de votre visage. Si cette combinaison ne vous convient pas, ou si vous avez des allergies, vous pourrez modifier vos huiles végétales à l'étape suivante.</p>
         </div>
         <div class="two-columns flex gap-x-40 mt-20">
            <div class="one-column  flex-1 border-2  rounded-sm border-teal-600 bg-teal-300 p-10 ">
               <h3 class="text-center">          VOS TENDANCES DE PEAU DU MOMENT        </h3>

           
<p x-show="
        (formData.f21 === 'f21a' && formData.f22 === 'f22c' && formData.f23 === 'f23a') ||
        (formData.f21 === 'f21a' && formData.f22 === 'f22c' && formData.f23 === 'f23c') ||
        (formData.f21 === 'f21a' && formData.f22 === 'f22c' && formData.f23 === 'f23d')      "
            x-init="formData.peau ='seche'">
{{ seche }}
</p>
          
  
<p x-show="
  (formData.f21 === 'f21a' && formData.f22 === 'f22a' && formData.f23 === 'f23a') ||
  (formData.f21 === 'f21a' && formData.f22 === 'f22a' && formData.f23 === 'f23b') ||
  (formData.f21 === 'f21a' && formData.f22 === 'f22a' && formData.f23 === 'f23c') ||
  (formData.f21 === 'f21a' && formData.f22 === 'f22a' && formData.f23 === 'f23d') ||
  (formData.f21 === 'f21a' && formData.f22 === 'f22b' && formData.f23 === 'f23a') ||
  (formData.f21 === 'f21a' && formData.f22 === 'f22b' && formData.f23 === 'f23b') ||
  (formData.f21 === 'f21a' && formData.f22 === 'f22b' && formData.f23 === 'f23c') ||
  (formData.f21 === 'f21a' && formData.f22 === 'f22b' && formData.f23 === 'f23d') ||
  (formData.f21 === 'f21a' && formData.f22 === 'f22c' && formData.f23 === 'f23b') ||
  (formData.f21 === 'f21b' && formData.f22 === 'f22a' && formData.f23 === 'f23a') ||
  (formData.f21 === 'f21b' && formData.f22 === 'f22b' && formData.f23 === 'f23a') ||
  (formData.f21 === 'f21b' && formData.f22 === 'f22b' && formData.f23 === 'f23b') ||
  (formData.f21 === 'f21b' && formData.f22 === 'f22b' && formData.f23 === 'f23c') ||
  (formData.f21 === 'f21b' && formData.f22 === 'f22b' && formData.f23 === 'f23d') ||
  (formData.f21 === 'f21b' && formData.f22 === 'f22c' && formData.f23 === 'f23a') ||
  (formData.f21 === 'f21b' && formData.f22 === 'f22c' && formData.f23 === 'f23b') ||
  (formData.f21 === 'f21c' && formData.f22 === 'f22b' && formData.f23 === 'f23a') ||
  (formData.f21 === 'f21c' && formData.f22 === 'f22b' && formData.f23 === 'f23c') ||
  (formData.f21 === 'f21c' && formData.f22 === 'f22b' && formData.f23 === 'f23d')"
>
{{ mixte }}
      </p>
  
<p x-show="
  (formData.f21 === 'f21b' && formData.f22 === 'f22a' && formData.f23 === 'f23b') ||
  (formData.f21 === 'f21b' && formData.f22 === 'f22a' && formData.f23 === 'f23c') ||
  (formData.f21 === 'f21b' && formData.f22 === 'f22a' && formData.f23 === 'f23d') ||
  (formData.f21 === 'f21c' && formData.f22 === 'f22a' && formData.f23 === 'f23a') ||
  (formData.f21 === 'f21c' && formData.f22 === 'f22a' && formData.f23 === 'f23b') ||
  (formData.f21 === 'f21c' && formData.f22 === 'f22a' && formData.f23 === 'f23c') ||
  (formData.f21 === 'f21c' && formData.f22 === 'f22a' && formData.f23 === 'f23d') ||
  (formData.f21 === 'f21c' && formData.f22 === 'f22b' && formData.f23 === 'f23b')"
>{{ grasse }}



      </p>

 <!-- Para piel normal -->
<p x-show="
  (formData.f21 === 'f21b' && formData.f22 === 'f22c' && formData.f23 === 'f23c') ||
  (formData.f21 === 'f21b' && formData.f22 === 'f22c' && formData.f23 === 'f23d') ||
  (formData.f21 === 'f21c' && formData.f22 === 'f22c' && formData.f23 === 'f23a') ||
  (formData.f21 === 'f21c' && formData.f22 === 'f22c' && formData.f23 === 'f23b') ||
  (formData.f21 === 'f21c' && formData.f22 === 'f22c' && formData.f23 === 'f23c') ||
  (formData.f21 === 'f21c' && formData.f22 === 'f22c' && formData.f23 === 'f23d')"
>
  {{ normal }}
  </p>


           
               <p x-show="formData.age === 'nomadure'">
                  {{ nomadure }}
               </p>
               <p x-show="formData.age !== 'nomadure'">
                  {{ madure }}
               </p>
           
                <p  x-show="
                  (formData.f31 === 'O' && formData.f32 === 'O' && formData.f33 === 'O') ||
                  (formData.f31 === 'O' && formData.f32 === 'O' && formData.f33 === 'N') ||
                  (formData.f31 === 'O' && formData.f32 === 'O' && formData.f33 === 'J') ||
                  (formData.f31 === 'O' && formData.f32 === 'N' && formData.f33 === 'O') ||
                  (formData.f31 === 'O' && formData.f32 === 'J' && formData.f33 === 'O') ||
                  (formData.f31 === 'N' && formData.f32 === 'O' && formData.f33 === 'O') ||
                  (formData.f31 === 'J' && formData.f32 === 'O' && formData.f33 === 'O') ||
                  (formData.f31 === 'J' && formData.f32 === 'N' && formData.f33 === 'O') ||
                  (formData.f31 === 'J' && formData.f32 === 'O' && formData.f33 === 'O')"
                  >
                  {{  deshydratee }}
               </p>
           
               <p x-show="!(formData.f31 === 'O' && formData.f32 === 'O' && formData.f33 === 'O') &&
                  !(formData.f31 === 'O' && formData.f32 === 'O' && formData.f33 === 'N') &&
                  !(formData.f31 === 'O' && formData.f32 === 'O' && formData.f33 === 'J') &&
                  !(formData.f31 === 'O' && formData.f32 === 'N' && formData.f33 === 'O') &&
                  !(formData.f31 === 'O' && formData.f32 === 'J' && formData.f33 === 'O') &&
                  !(formData.f31 === 'N' && formData.f32 === 'O' && formData.f33 === 'O') &&
                  !(formData.f31 === 'J' && formData.f32 === 'O' && formData.f33 === 'O') &&
                  !(formData.f31 === 'J' && formData.f32 === 'N' && formData.f33 === 'O') &&
                  !(formData.f31 === 'J' && formData.f32 === 'O' && formData.f33 === 'O')"
                  >
                  {{ nondeshydratee }}
               </p>
              
           
            </div>
           
            <div class="one-column flex-1 result border-2  rounded-sm border-teal-600 bg-teal-300 p-10">
               <h3 class="text-center">VOTRE MATCH PARFAIT DU MOMENT</h3>
               <p class="text-left">Ces huiles végétales sont connues pour les propriétés suivantes* :</p>


        
         
Peau sèche / mature / non déshydratée - Amande - Carotte - Argan
Peau sèche / non mature / déshydratée - Onagre - Abricot - Amande
Peau sèche / non mature / non déshydratée - Amande - Abricot -Abricot
Peau mixte / mature / déshydratée - Argan - Onagre - Carotte
Peau mixte / mature / non déshydratée - Abricot - Argan - Carotte
Peau mixte / non mature / déshydratée - Onagre - Amande - Noisette
Peau mixte / non mature / non déshydratée - Noisette - Abricot - Abricot
Peau normale / mature / déshydratée - Carotte - Argan - Onagre
Peau normale / mature / non déshydratée - Argan - Carotte - Amande
Peau normale / non mature / déshydratée - Carotte - Amande - onagre
Peau normale / non mature / non déshydratée - Carotte - Amande - Abricot
Peau grasse / mature / déshydratée - Noisette - Onagre - Argan
Peau grasse / mature / non déshydratée - Argan - Noisette - Carotte
Peau grasse / non mature / déshydratée - Noisette - Onagre - Noisette
Peau grasse / non mature / non déshydratée - Abricot - Noisette - Noisette


              
               <div class="container-result flex" >
                  <div class="container-image"><img style="width:32px;" src="https://cdn.shopify.com/s/files/1/0716/5509/6615/files/Actif_huile_de_carotte_df45e5b7-7abc-4cac-87bd-f9371df5ddfe.svg?v=1678245001&width=70">
                  </div>
                  <div class="container-result-p">
                     <p>Huile de noisette : anti-imperfections, régulatrice de sébum et réparatrice</p>
                  </div>
               </div>
               <div class="container-result flex" >
                  <div class="container-image"><img style="width:32px;"  src="https://cdn.shopify.com/s/files/1/0716/5509/6615/files/Actif_huile_de_carotte_df45e5b7-7abc-4cac-87bd-f9371df5ddfe.svg?v=1678245001&width=70">
                  </div>
                  <div class="container-result-p">
                     <p>Huile de noisette : anti-imperfections, régulatrice de sébum et réparatrice</p>
                  </div>
               </div>
               <div class="container-result flex" >
                  <div class="container-image"><img style="width:32px;"  src="https://cdn.shopify.com/s/files/1/0716/5509/6615/files/Actif_huile_de_carotte_df45e5b7-7abc-4cac-87bd-f9371df5ddfe.svg?v=1678245001&width=70">
                  </div>
                  <div class="container-result-p">
                     <p>Huile de noisette : anti-imperfections, régulatrice de sébum et réparatrice</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="container-routine mt-20">
            <h2 class="text-center">VOTRE ROUTINE PERSONNALISEE</h2>
            <p class="text-center">Voici les soins personnalisés à l'image de votre peau avec votre match parfait du moment (indiqué ci-dessus).</p>
            <p class="text-center">Tous nos produits sont rechargeables à l'infini (et au delà… 🚀) pour économiser 95,6% de plastiques.<br>
               Vous pourrez choisir à l'étape suivante, pour chaque produit, si vous souhaitez le format pot + recharge (première utilisation) ou juste la recharge à clipser dans votre pot Hilo.
            </p>
            <a href="#" class="button btn">J'ajoute ma routine au panier</a>
         </div>
      </div>
      {% else %}
      {% include 'register-quiz' %}
      {% endif %}
   </div>
</div>
</div>
</div>
          
  


<style>
.border-radius {
  border-radius: 52px;
}
.etapas {
column-gap:8rem !important;
position: relative;
overflow:hidden;
}
.etapas .etapas5 {
background:#CDCDCD;
position: relative;
border-radius:100%;
font-size:30px;
width:64px;
height:64px;
line-height:64px;
display: flex;
align-items: center;
justify-content: center;
}
.container-step {
font-weight:600;
color:#575756;
}
.container-step::after {
position:absolute;
content:"";
width:250px;
left:50px;
top:35px;
height:4px;  z-index:-1;
background:#F5DEA3;

}
.active-step1 .container-step::after
background:#F5DEA3;

}
.active-step2 .container-step::after {

background:#F5DEA3;

}
.active-step3 .container-step::after  {

background:#B7DAF3;

}
.active-step4 .container-step::after  {

background:#F8C8D3;

}


.container-step4::after  {

content:none;

}
.container-step {

text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;
}
.step1 {

background:#fdf8ed; border-color:#f5dfa5;
}
.step2 {

background:#f2f8f1; border-color:#cde4ca;
}
.step3 {
border-color:#b7daf3; background:#eef6fc;

}
.step4 {
border-color:#F8C8D3; background:#FDEDF1;
}
.step5 {
border-color:#F8C8D3; background:#FDEDF1;
}


.step1 input[type="radio"]:checked + label {
background-color: #F5DEA3; /* Cambiar a tu color preferido */
}
.form-quiz button {

border-radius:26px;
padding:5px 60px;
}
.step1 button {
background-color: #F5DEA3;

}
.form-quiz  .step1 label {
border: 1px solid #F5DEA3;
}

.step2 input[type="radio"]:checked + label {
background-color: #cde4ca; /* Cambiar a tu color preferido */
}
.form-quiz  .step2   label {
border: 1px solid #cde4ca;
}
.step2 button {
background-color: #cde4ca;

}
.step3 input[type="radio"]:checked + label {
background-color: #b7daf3; /* Cambiar a tu color preferido */
}
.form-quiz     .step3   label {
border: 1px solid #b7daf3;
}
.step3 button {
background-color: #b7daf3;

}
.step4 input[type="checkbox"]:checked + label , .step4 input[type="radio"]:checked + label {
background-color: #F8C8D3; /* Cambiar a tu color preferido */
}
.step4 button,  .step5 button {
background-color: #F8C8D3;

}
.form-quiz   .step4 label {
border: 1px solid #F8C8D3;
}

.step5 input[type="radio"]:checked + label {
background-color: #F8C8D3; /* Cambiar a tu color preferido */
}
.form-quiz  .step5  label {
border: 1px solid #F8C8D3;
}

.container-label  {
position:relative;
width:fit-content;
}
.container-label input ,  .container-label input{
position:absolute;
opacity:0;
width:100%;
height:100%;
}
.form-quiz label {
width: fit-content;
border: 1px solid #F5DEA3;
border-radius: 26px;
background: transparent;
padding: 2px 15px;
margin-bottom:10px;
}


label {
display:block;
}
.step1  .legend {
color: #575756;
font-size: 20px;
font-weight: 600;
margin-bottom: 20px;
}
legend {
color: #575756;
font-size: 20px;
font-weight: 600;
margin-bottom: 20px;

}
.etapa1.active-step {
background-color: #F5DEA3;
}
.etapa2.active-step {
background-color:    #CDE4CA;
}
.etapa3.active-step {
background-color:    #B7DAF3;
}
.etapa4.active-step {
background-color:    #F8C8D3;
}
.etapa5.active-step {
background-color:    #F8C8D3;
}
/* Result */
  .one-column  {
    background:#FEF4EC;
    border:2px solid #FBD1AD;
    border-radius:26px;
    color:#575756;
  }
   .one-column h3 {
     font-weight:600;
     font-size:24px;
     margin-bottom:20px;
   }
  .one-column p
  {
    font-size:14px;
     margin-bottom:15px;
  }
  
</style>


              <script>
  {% comment %} 



function customerupdate(formData2) {

const storeName = 'hilo-cosmetiques.myshopify.com';
const customerId = '6953631580455'; // replace with the ID of the customer you want to fetch
const metafieldId = '29093746475303'; // replace with the ID of the customer you want to fetch
var accessToken = '';

// Construir la URL de la API de Shopify para actualizar el cliente
const url = `https://${storeName}/admin/api/2023-04/customers/${customerId}/metafields/${metafieldId}.json`;

// Construct the request options, including the new value of the metafield
const options = {
  method: 'PUT',
  headers: {
    'Content-Type': 'application/json',
    'X-Shopify-Access-Token': accessToken,
  },
  body: JSON.stringify({
    metafield: {
      value: '{"data":"nacho2"}',
    },
  }),
};

// Send the PUT request to update the customer metafield
fetch(url, options)
  .then((response) => {
    if (response.ok) {
      return response.json();
    }
    throw new Error('Error updating customer metafield');
  })
  .then((data) => {
    console.log('Customer metafield updated successfully:', data);
  })
  .catch((error) => {
    console.error('Error updating customer metafield:', error);
  });


};
{% endcomment %}


</script>
{% schema %}
  {
    "name": "Section name",
    "settings": [],
   "presets": [
    {
      "name": "Quiz",
      "category": "Quiz by Sections.design",
      "blocks": [
      ]
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}