{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}
{% capture seche %}
<b>Votre peau à tendance sèche :</b>
<br><br>
🚿 <b>Douches</b> : privilégiez des douches courtes et avec une eau tempéré. L’eau détériore le film hydrolipidique qui protège la peau et l’eau très chaude accélère ce phénomène. 
<br><br>
<b>💄 Démaquillage</b> : c’est l’une des étapes les plus importante pour un visage sain et en bonne santé. Hilo vous conseille un <b>démaquillage naturel à l’huile végétale</b> pour nourrir votre peau et ne pas l’agresser. 
<br><br>
<b>💧 Hydratation</b> : buvez beaucoup d’eau (1,5 L par jour minimum), afin d’hydrater votre peau de l’intérieur. Une bonne hydratation permet de renforcer la barrière cutanée. 
<br><br>
<b>🍊 Alimentation</b> : privilégiez une alimentation équilibrée, et notamment les aliments riches en : 
<br>-	<b>Vitamine C </b> : elle favorise la production de collagène qui aide la peau à être plus forte et plus souple (agrumes, kiwi, poivron, brocoli…)
<br>-	<b>Vitamine A </b> : elle renforce la barrière protectrice de la peau, favorise le renouvellement cellulaire et prévient le dessèchement de la peau (carotte, melon, tomate, abricot…)
<br>-	<b>Acide gras essentiels </b> (oméga 3, 6, 9) : ils apportent de la souplesse à l’épiderme et protègent la peau de la déshydratation (poissons gras, avocats, fruits à coques, huiles végétales…)
<br><br>
<b>⛔ À éviter</b> : l’excès d'aliments qui déshydratent le corps (alcool, café, sel, junkfood…)

{% endcapture %}
{% capture normal %}
<b>Votre peau à tendance normal :</b>
<br><br>
<b>🌞 Soleil</b> : utilisez une protection solaire renforcée pour conserver l’équilibre de votre peau, éviter sa déshydratation et son vieillissement prématurée. 
<br><br>
<b>🏃 Sport</b> : l’exercice physique favorise la production de collagène et améliore la tonicité de la peau. Il permet également d’améliorer la circulation sanguine et de raviver l’éclat de votre teint. 
<br><br>
<b>💄 Démaquillage</b> : c’est l’une des étapes les plus importante pour un visage sain et en bonne santé. Hilo vous conseille un <b>démaquillage naturel à l’huile végétale</b> pour nourrir votre peau et ne pas l’agresser. 
<br><br>
<b>💧 Hydratation</b> : buvez beaucoup d’eau (1,5 L par jour minimum), afin d’hydrater votre peau de l’intérieur. Une bonne hydratation permet de renforcer la barrière cutanée. 
<br><br>
<b>🍊 Alimentation</b> : privilégiez une alimentation saine et équilibrée pour apporter à votre peau tous les nutriments dont elle a besoin (vitamines, protéines, acides gras, minéraux…)

{% endcapture %}
{% capture mixte %}
<b>Votre peau à tendance mixte :</b>
<br><br>
<strong>🧘 Relaxation</strong> : évitez les sources de stress qui augmentent la production de sébum et déséquilibrent l’épiderme. Favorisez les activités relaxantes (massage, méditation, yoga…).
<br><br>
<b>💄 Démaquillage</b> : c’est l’une des étapes les plus importante pour un visage sain et en bonne santé. Hilo vous conseille un <b>démaquillage naturel à l’huile végétale</b> pour nourrir votre peau et ne pas l’agresser. 
<br><br>
<b>💧 Hydratation</b> : buvez beaucoup d’eau (1,5 L par jour minimum), afin d’hydrater votre peau de l’intérieur. Une bonne hydratation permet de renforcer la barrière cutanée. 
<br><br>
<b>🍊 Alimentation</b> : privilégiez une alimentation saine afin de rééquilibrer et assainir votre peau grâce notamment aux aliments riches en : 
<br>-	<b>Zinc</b> : lentilles, oeufs, céréales complètes…
<br>-	<b>Vitamine B</b> : légumineuses, noix, épinard, fruits rouges…
<br><br>
<b>⛔ À éviter</b> : les aliments transformés / industriels et trop sucrés qui favorisent la sécrétion de sébum et donc les imperfections.

{% endcapture %}
{% capture grasse %}
<b>Votre peau à tendance grasse :</b>
<br><br>
<b>🌞 Soleil</b> : utilisez une crème solaire haute protection afin de rééquilibrer votre peau. On pense souvent que le soleil est l’allié des peaux grasses, mais son effet bénéfique est temporaire. Quelques jours après l’exposition, la production de sébum s’intensifie et accentue le risque d’imperfections.
<br><br>
<b>💄 Démaquillage</b> : c’est l’une des étapes les plus importante pour un visage sain et en bonne santé. Hilo vous conseille un <b>démaquillage naturel à l’huile végétale</b> pour nourrir votre peau et ne pas l’agresser. 
<br><br>
<b>💧 Hydratation</b> : buvez beaucoup d’eau (1,5 L par jour minimum), afin d’hydrater votre peau de l’intérieur. Une bonne hydratation permet de renforcer la barrière cutanée. 
<br><br>
<b>🍊 Alimentation</b> : privilégiez une alimentation équilibrée, et notamment des aliments tels que : 
<br>-	Fruits et légumes frais : riches en vitamines et antioxydants,
<br>-	Poissons gras, avocat, noix… : riches en oméga 3, ils permettent de réduire la surproduction de sébum,
<br>-	Thé vert : il purifie l’organisme et la peau des toxines accumulées. 
<br><br>
<b>⛔ À éviter</b> : l’excès de produits laitiers ainsi que les aliments gras et sucrés qui favorisent la production de sébum (plats préparés, gâteaux industriels, bonbons, charcuterie, viande grasse…). 

{% endcapture %}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="{{ section.settings.customcss }}  image-with-text image-with-text--{{ section.settings.content_layout }} page-width isolate{% if settings.text_boxes_border_thickness > 0 and settings.text_boxes_border_opacity > 0 and settings.media_border_thickness > 0 and settings.media_border_opacity > 0 %} collapse-borders{% endif %}{% unless section.settings.color_scheme == 'background-1' and settings.media_border_thickness > 0 and settings.text_boxes_shadow_opacity == 0 and settings.text_boxes_border_thickness == 0 or settings.text_boxes_border_opacity == 0 %} collapse-corners{% endunless %} section-{{ section.id }}-padding">
  <div class="image-with-text__grid grid grid--gapless grid--1-col grid--{% if section.settings.desktop_image_width == 'medium' %}2-col-tablet{% else %}3-col-tablet{% endif %}{% if section.settings.layout == 'text_first' %} image-with-text__grid--reverse{% endif %}">
    <div class="center-flex image-with-text__media-item image-with-text__media-item--{{ section.settings.desktop_image_width }} image-with-text__media-item--{{ section.settings.desktop_content_position }} grid__item">
      <div class="flex align-center" style="position: relative;"
        {% if section.settings.height == 'adapt' and section.settings.image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"{% endif %}
      >
        {%- if section.settings.image != blank -%}
           <img src="https://cdn.shopify.com/s/files/1/0716/5509/6615/files/eclat_HD.svg?v=1684281565" class="corner-top no-rotate top-wavestop2 top-wavestop3">
          {%- capture sizes -%}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2){%- endcapture -%}
          {{ section.settings.image | image_url: width: 1500 | image_tag:
            loading: 'lazy',
            sizes: sizes,
            widths: '165, 360, 535, 750, 1070, 1500'
          }}
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
      </div>
    </div>
    <div class="image-with-text__text-item grid__item">
      <div id="ImageWithText--{{ section.id }}" class="image-with-text__content image-with-text__content--{{ section.settings.desktop_content_position }} image-with-text__content--desktop-{{ section.settings.desktop_content_alignment }} image-with-text__content--mobile-{{ section.settings.mobile_content_alignment }} image-with-text__content--{{ section.settings.height }} gradient color-{{ section.settings.color_scheme }} content-container">
        {%- for block in section.blocks -%}
          {% case block.type %}
            {%- when 'heading' -%}
              <h2 class="image-with-text__heading {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
                {{ block.settings.heading | escape }}
              </h2>
            {%- when 'caption' -%}
              <p class="image-with-text__text image-with-text__text--caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }} {{ block.settings.text_style }}" {{ block.shopify_attributes }}>{{ block.settings.caption | escape }}</p>
            {%- when 'text' -%}
              {% if page.metafields.custom.result_peau %}
                {% assign diagnosticos = customer.metafields.custom.diagnosticos.value %}
                {% assign diagnostics = diagnosticos[0] %}
                <div class="image-with-text__text rte {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
                  <p>
                   {% if diagnostics.peau == 'seche' %}
                    {{ seche }}
                   {% elsif diagnostics.peau == 'mixte' %}
                     {{ mixte }}
                   {% elsif diagnostics.peau == 'grasse' %}
                     {{ grasse }}
                   {% elsif diagnostics.peau == 'normale' %}
                     {{ normal }}
                   {% endif %}
                  </p>
                </div>
              {% else %}
                <div class="image-with-text__text rte {{ block.settings.text_style }}" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
              {% endif %}
            {%- when 'button' -%}
              {%- if block.settings.button_label != blank -%}
                <a{% if block.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}" {{ block.shopify_attributes }}>
                  {{ block.settings.button_label | escape }}
                </a>
              {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "image with text result",
  "class": "section",
  "settings": [
        {
          "type": "text",
          "id": "customcss",
            "label": "Custom Css"
        },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label"
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-with-text.settings.height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.height.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.height.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.image-with-text.settings.height.label"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-with-text.settings.desktop_image_width.label",
      "info": "t:sections.image-with-text.settings.desktop_image_width.info"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.image-with-text.settings.layout.options__1.label"
        },
        {
          "value": "text_first",
          "label": "t:sections.image-with-text.settings.layout.options__2.label"
        }
      ],
      "default": "image_first",
      "label": "t:sections.image-with-text.settings.layout.label",
      "info": "t:sections.image-with-text.settings.layout.info"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "middle",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "top",
      "label": "t:sections.image-with-text.settings.desktop_content_position.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.desktop_content_alignment.label"
    },
    {
      "type": "select",
      "id": "content_layout",
      "options": [
        {
          "value": "no-overlap",
          "label": "t:sections.image-with-text.settings.content_layout.options__1.label"
        },
        {
          "value": "overlap",
          "label": "t:sections.image-with-text.settings.content_layout.options__2.label"
        }
      ],
      "default": "no-overlap",
      "label": "t:sections.image-with-text.settings.content_layout.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "Mobile layout"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.mobile_content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-with-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image with text",
          "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.image-with-text.blocks.caption.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Add a tagline",
          "label": "t:sections.image-with-text.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.image-with-text.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-with-text.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.image-with-text.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__2.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-with-text.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-with-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "image with text result",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
