{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
</div>

<style>
  .items-cart {
    margin-bottom:10px !important;
  }
</style>
</cart-items>
<div class="{% if cart == empty %} is-empty{% endif %}" id="main-cart-footer" data-id="{{ section.id }}">
   <div class="container-title"> 
      <h1 class="title title--primary">Récapitulatif</h1>
    </div>

  <div>
    <div class="cart__footer">
      
       {%- for item in cart.items -%}
         <div class="items-cart var{{ item.variant.id }}" style="width:100%; ">
          <div class="w80 ">{{ item.product.title | escape }} {% if item.quantity > 1  %}x{{ item.quantity }}  {% endif %}<br>
 <div class="optionsfooter">
            {% if item.properties != blank  %}
<span class="">Actifs : </span>


{% endif %}

{% capture propertys %}                      
{%- for property in item.properties -%}
  
  {% if property contains '3' %}

      {%- assign property_first_char = property.first | slice: 0 -%}
      {% if forloop.last %}
          {%- if property.last != blank and property_first_char != '_' -%}
          <span class="">
            
            {% if property.first contains "Argan" %}
              Anti-âge,
            {% elsif property.first contains "Amande" %}
              Apaisante,
            {% elsif property.first contains "Carotte" %}
              Bonne mine,
            {% elsif property.first contains "Onagre" %}
              Hydratante,
            {% elsif property.first contains "Abricot" %}
              Illuminante,
            {% elsif property.first contains "Noisette" %}
              Anti-imperfections,
            {% else %}
              {{ property.first   | capitalize }},
            {% endif %}
          
          </span>
             <span class="">
            {% if property.first contains "Argan" %}
              Anti-âge,
            {% elsif property.first contains "Amande" %}
              Apaisante,
            {% elsif property.first contains "Carotte" %}
              Bonne mine,
            {% elsif property.first contains "Onagre" %}
              Hydratante,
            {% elsif property.first contains "Abricot" %}
              Illuminante,
            {% elsif property.first contains "Noisette" %}
              Anti-imperfections,
            {% else %}
              {{ property.first   | capitalize }},
            {% endif %}
          
          </span>
                         <span class="">
            {% if property.first contains "Argan" %}
              Anti-âge,
            {% elsif property.first contains "Amande" %}
              Apaisante,
            {% elsif property.first contains "Carotte" %}
              Bonne mine,
            {% elsif property.first contains "Onagre" %}
              Hydratante,
            {% elsif property.first contains "Abricot" %}
              Illuminante,
            {% elsif property.first contains "Noisette" %}
              Anti-imperfections,
            {% else %}
              {{ property.first   | capitalize }},
            {% endif %}
          
          </span>
          {%- endif -%}
        {% else %}
        {%- if property.last != blank and property_first_char != '_' -%}
        <span class="">
          
            {% if property.first contains "Argan" %}
              Anti-âge,
            {% elsif property.first contains "Amande" %}
              Apaisante,
            {% elsif property.first contains "Carotte" %}
              Bonne mine,
            {% elsif property.first contains "Onagre" %}
              Hydratante,
            {% elsif property.first contains "Abricot" %}
              Illuminante,
            {% elsif property.first contains "Noisette" %}
              Anti-imperfections,
            {% else %}
              {{ property.first   | capitalize }},
            {% endif %}
        
        </span>
            <span class="">
            {% if property.first contains "Argan" %}
              Anti-âge,
            {% elsif property.first contains "Amande" %}
              Apaisante,
            {% elsif property.first contains "Carotte" %}
              Bonne mine,
            {% elsif property.first contains "Onagre" %}
              Hydratante,
            {% elsif property.first contains "Abricot" %}
              Illuminante,
            {% elsif property.first contains "Noisette" %}
              Anti-imperfections,
            {% else %}
              {{ property.first   | capitalize }},
            {% endif %}
        
        </span>
          
            <span class="">
            {% if property.first contains "Argan" %}
              Anti-âge,
            {% elsif property.first contains "Amande" %}
              Apaisante,
            {% elsif property.first contains "Carotte" %}
              Bonne mine,
            {% elsif property.first contains "Onagre" %}
              Hydratante,
            {% elsif property.first contains "Abricot" %}
              Illuminante,
            {% elsif property.first contains "Noisette" %}
              Anti-imperfections,
            {% else %}
              {{ property.first   | capitalize }},
            {% endif %}
        
        </span>
        {%- endif -%}
      {% endif %}
{% endif %}


                        

  
{% if property contains '2' %}

      {%- assign property_first_char = property.first | slice: 0 -%}
      {% if forloop.last %}
          {%- if property.last != blank and property_first_char != '_' -%}
          <span class="">
            {% if property.first contains "Argan" %}
              Anti-âge
            {% elsif property.first contains "Amande" %}
              Apaisante
            {% elsif property.first contains "Carotte" %}
              Bonne mine
            {% elsif property.first contains "Onagre" %}
              Hydratante
            {% elsif property.first contains "Abricot" %}
              Illuminante
            {% elsif property.first contains "Noisette" %}
              Anti-imperfections
            {% else %}
              {{ property.first   | capitalize }},
            {% endif %}
          </span>,
                        
           <span class="">
            {% if property.first contains "Argan" %}
              Anti-âge,
            {% elsif property.first contains "Amande" %}
              Apaisante,
            {% elsif property.first contains "Carotte" %}
              Bonne mine,
            {% elsif property.first contains "Onagre" %}
              Hydratante,
            {% elsif property.first contains "Abricot" %}
              Illuminante,
            {% elsif property.first contains "Noisette" %}
              Anti-imperfections,
            {% else %}
              {{ property.first   | capitalize }},
            {% endif %}
          
          </span>
                       
          {%- endif -%}
        {% else %}
        {%- if property.last != blank and property_first_char != '_' -%}
        <span class="">
            {% if property.first contains "Argan" %}
              Anti-âge,
            {% elsif property.first contains "Amande" %}
              Apaisante,
            {% elsif property.first contains "Carotte" %}
              Bonne mine,
            {% elsif property.first contains "Onagre" %}
              Hydratante,
            {% elsif property.first contains "Abricot" %}
              Illuminante,
            {% elsif property.first contains "Noisette" %}
              Anti-imperfections,
            {% else %}
              {{ property.first   | capitalize }},
            {% endif %}
        
        </span>
            <span class="">
            {% if property.first contains "Argan" %}
              Anti-âge,
            {% elsif property.first contains "Amande" %}
              Apaisante,
            {% elsif property.first contains "Carotte" %}
              Bonne mine,
            {% elsif property.first contains "Onagre" %}
              Hydratante,
            {% elsif property.first contains "Abricot" %}
              Illuminante,
            {% elsif property.first contains "Noisette" %}
              Anti-imperfections,
            {% else %}
              {{ property.first   | capitalize }},
            {% endif %}
        
        </span>
          
        {%- endif -%}
      {% endif %}
{% endif %}

  
{% if property contains '1' %}

      {%- assign property_first_char = property.first | slice: 0 -%}
      {% if forloop.last %}
          {%- if property.last != blank and property_first_char != '_' -%}
          <span class="">
            {% if property.first contains "Argan" %}
              Anti-âge
            {% elsif property.first contains "Amande" %}
              Apaisante
            {% elsif property.first contains "Carotte" %}
              Bonne mine
            {% elsif property.first contains "Onagre" %}
              Hydratante
            {% elsif property.first contains "Abricot" %}
              Illuminante
            {% elsif property.first contains "Noisette" %}
              Anti-imperfections
            {% else %}
              {{ property.first   | capitalize }},
            {% endif %}
          </span>
          {%- endif -%}
        {% else %}
        {%- if property.last != blank and property_first_char != '_' -%}
        <span class="">
            {% if property.first contains "Argan" %}
              Anti-âge,
            {% elsif property.first contains "Amande" %}
              Apaisante,
            {% elsif property.first contains "Carotte" %}
              Bonne mine,
            {% elsif property.first contains "Onagre" %}
              Hydratante,
            {% elsif property.first contains "Abricot" %}
              Illuminante,
            {% elsif property.first contains "Noisette" %}
              Anti-imperfections,
            {% else %}
              {{ property.first   | capitalize }},
            {% endif %}
           </span>
      
        {%- endif -%}
      {% endif %}
{% endif %}
  
{%- endfor -%}
  {% endcapture %}
                   
                      
       {% assign capture_string = propertys %}
{% assign capture_array = capture_string | split: ',' %}



{% for item in capture_array  limit:3%}
{% if forloop.index == 3 %}
    {{ item }}  
  {% else %}
 {{ item }}, 
  {% endif %}
{% endfor %}    
</div>
          </div>
          <div class="w20">  {{- item.original_price | times: item.quantity | money -}} </div>
        </div>
      
         {%- endfor -%}
    <div class="items-cart mr-0" style="margin-right:0px !important; width:100%;">
          {% if cart.total_price >= 5900 %} 
   <div class="w80 ">  <p>Livraison : </div>    <div class="w20">Offerte</div>
{% else %}
    <div class="w80"> 
      Plus que <strong>{{ 4900 | minus: cart.total_price | money }}</strong> pour bénéficier de la livraison gratuite<br>
    </div> <!--<div class="w20"> 5,90  </div>-->
{% endif %}
    </div>
<br><br>
        
         <br><br>
      {%- if settings.show_cart_note -%}
        <cart-note class="cart__note field">
          <label for="Cart-note">{{ 'sections.cart.note' | t }}</label>
          <textarea class="text-area field__input" name="note" form="cart" id="Cart-note" placeholder="{{ 'sections.cart.note' | t }}">{{ cart.note }}</textarea>
        </cart-note>
      {%- endif -%}


      <div class="cart__blocks">
        {% for block in section.blocks %}
          {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
            {%- when 'subtotal' -%}
              <div class="js-contents" {{ block.shopify_attributes }}>
                <div class="totals">
                  <h2 class="totals__subtotal">{{ 'sections.cart.subtotal' | t }}</h2>
                  <p class="totals__subtotal-value">{{ cart.total_price | money_with_currency }}</p>
                </div>

                <div>
                  {%- if cart.cart_level_discount_applications.size > 0 -%}
                    <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                      {%- for discount in cart.cart_level_discount_applications -%}
                        <li class="discounts__discount discounts__discount--position">
                          {%- render 'icon-discount' -%}
                          {{ discount.title }}
                          (-{{ discount.total_allocated_amount | money }})
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </div>

                <small class="tax-note caption-large rte">
                  {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                    {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- elsif cart.taxes_included -%}
                    {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
                  {%- elsif shop.shipping_policy.body != blank -%}
                    {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                  {%- else -%}
                    {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                  {%- endif -%}
            
                </small>
        
              </div>
            {%- else -%}
              <div class="cart__ctas" {{ block.shopify_attributes }}>
                <noscript>
                  <button type="submit" class="cart__update-button button button--secondary" form="cart">
                    {{ 'sections.cart.update' | t }}
                  </button>
                </noscript>

                <button type="submit" id="checkout" class="cart__checkout-button button" name="checkout"{% if cart == empty %} disabled{% endif %} form="cart">
                  {{ 'sections.cart.checkout' | t }}
                </button>
                
              </div>
        <div style="width:100%">
        <p style="text-align:center;font-size:10px;">Ajoutez votre code promo à l’étape suivante</p>
        </div>
              {%- if additional_checkout_buttons -%}
                <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
                  {{ content_for_additional_checkout_buttons }}
                </div>
              {%- endif -%}
          {%- endcase -%}
       
        {% endfor %}

        <div id="cart-errors"></div>

          <div class="title-wrapper-with-link onlymobile">

    <a href="/pages/boutique" class="underlined-link">< {{ 'general.continue_shopping' | t }}</a>
  </div>
      </div>
    </div>
  </div>
</div>

</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function(event) {
      document.querySelector('#cart').submit();
    });
  });
</script>

{% schema %}
{
  "name": "t:sections.main-cart-footer.name",
  "class": "cart__footer-wrapper",
  "blocks": [
    {
      "type": "subtotal",
      "name": "t:sections.main-cart-footer.blocks.subtotal.name",
      "limit": 1
    },
    {
      "type": "buttons",
      "name": "t:sections.main-cart-footer.blocks.buttons.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
