{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'newsletter-section.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="{{ section.settings.customcss }} newsletter center {% if section.settings.full_width == false %}newsletter--narrow page-width{% endif %}">
  <div class="newsletter__wrapper color-{{ section.settings.color_scheme }} gradient content-container isolate{% if section.settings.full_width %} content-container--full-width{% endif %} section-{{ section.id }}-padding">
  {% if section.settings.svg-wave == "none" %}
  {% else %}
  <div class="custom_wave_top">
    {% if section.settings.svg-wave == "vague-rose-trait" %}
     {{ 'vague_rose_trait.svg' | asset_url | img_tag }}
    {% elsif section.settings.svg-wave == "vague-violet-trait" %}
      {{ 'vague_violet_trait.svg' | asset_url | img_tag }}
    {% endif %}
  </div>
  {% endif %} 
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          {% render block %}
        {%- when 'heading' -%}
          <h2 class="{{ block.settings.heading_size }}" {{ block.shopify_attributes }}>{{ block.settings.heading | escape }}</h2>
        {%- when 'paragraph' -%}
          <div class="newsletter__subheading rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
        {%- when 'email_form' -%}
          <div {{ block.shopify_attributes }}>
            {% form 'customer', class: 'newsletter-form' %}
              <input type="hidden" name="contact[tags]" value="newsletter">
               <input type="hidden" name="contact[tags]" value="news">
              <div class="newsletter-form__field-wrapper">
                <div class="field">
                  <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="field__input"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="Newsletter-error--{{ section.id }}"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="Newsletter-success--{{ section.id }}"
                    {% endif %}
                    placeholder="{{ 'newsletter.label' | t }}"
                    required
                  >
                  <label class="field__label" for="NewsletterForm--{{ section.id }}">
                    {{ 'newsletter.label' | t }}
                  </label>
                  <button type="submit" class="newsletter-form__button field__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                  Je m'abonne
                  </button>
                </div>
                {%- if form.errors -%}
                  <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                {%- endif -%}
              </div>
              {%- if form.posted_successfully? -%}
                <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
              {%- endif -%}
            {% endform %}
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
    {% if section.settings.customcss contains "waves4b" %}
  <svg xmlns="http://www.w3.org/2000/svg" width="1925.69" height="104.902" viewBox="0 0 1925.69 104.902"  style="position: absolute;

    width: 100%; 
      z-index:2;
          top: -80px;" 
          class="waves4b-newsletter">
  <g id="Groupe_475" data-name="Groupe 475" transform="translate(2 2)">
    <path id="Tracé_950" data-name="Tracé 950" d="M0,32.583s381.557-73.312,953.739,0,967.951,0,967.951,0V84.164H0Z" transform="translate(0 16.738)" fill="#fbdae2"/>
    <path id="Tracé_950_-_Contour" data-name="Tracé 950 - Contour" d="M452.17-2c164.158,0,333,10.968,501.823,32.6a3988.712,3988.712,0,0,0,505,32.567c65.37,0,130.352-1.711,193.143-5.086,50.234-2.7,99.184-6.464,145.493-11.189,41.2-4.2,72.64-8.4,91.759-11.189,20.715-3.017,31.829-5.066,31.938-5.086l2.364-.438V86.164H-2V30.931l1.623-.312c.106-.02,10.873-2.079,31-5.1,18.556-2.79,49.112-7,89.3-11.212C165.076,9.569,212.949,5.8,262.2,3.094,323.77-.286,387.684-2,452.17-2ZM1458.993,67.166a3992.751,3992.751,0,0,1-505.508-32.6C784.826,12.957,616.159,2,452.17,2,387.756,2,323.916,3.712,262.424,7.088c-49.19,2.7-97,6.467-142.09,11.193-40.112,4.2-70.6,8.4-89.12,11.189C15.622,31.814,5.692,33.571,2,34.246V82.164H1919.69V34.971c-4.3.751-14.381,2.455-29.675,4.682-19.153,2.79-50.646,7-91.915,11.211-46.377,4.733-95.4,8.5-145.7,11.208C1589.521,65.452,1524.45,67.166,1458.993,67.166Z" transform="translate(0 16.738)" fill="#fbdae2"/>
    <path id="Tracé_951" data-name="Tracé 951" d="M452.17-2c164.158,0,333,10.968,501.823,32.6a3988.712,3988.712,0,0,0,505,32.567c65.37,0,130.352-1.711,193.143-5.086,50.234-2.7,99.184-6.464,145.493-11.189,41.2-4.2,72.64-8.4,91.759-11.189,20.715-3.017,31.829-5.066,31.938-5.086l2.364-.438V86.164H-2V30.931l1.623-.312c.106-.02,10.873-2.079,31-5.1,18.556-2.79,49.112-7,89.3-11.212C165.076,9.569,212.949,5.8,262.2,3.094,323.77-.286,387.684-2,452.17-2ZM1458.993,67.166a3992.751,3992.751,0,0,1-505.508-32.6C784.826,12.957,616.159,2,452.17,2,387.756,2,323.916,3.712,262.424,7.088c-49.19,2.7-97,6.467-142.09,11.193-40.112,4.2-70.6,8.4-89.12,11.189C15.622,31.814,5.692,33.571,2,34.246V82.164H1919.69V34.971c-4.3.751-14.381,2.455-29.675,4.682-19.153,2.79-50.646,7-91.915,11.211-46.377,4.733-95.4,8.5-145.7,11.208C1589.521,65.452,1524.45,67.166,1458.993,67.166Z" transform="translate(0 0)" fill="#fbdae2"/>
  </g>
</svg>
<style>
  .waves4b {
    position:relative;
    margin-top:80px;
  }
</style>
    {% endif %}
</div>

{% schema %}
{
  "name": "t:sections.newsletter.name",
  "tag": "section",
  "class": "section",
  "settings": [
      {
          "type": "text",
          "id": "customcss",
            "label": "Custom Css"
        },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
           {
          "value": "colors_1",
          "label": "colors_1"
        },
            {
          "value": "colors_2",
          "label": "colors_2"
        },
            {
          "value": "colors_3",
          "label": "colors_3"
        },
            {
          "value": "colors_4",
          "label": "colors_4"
        },
            {
          "value": "colors_5",
          "label": "colors_5"
        },
               {
          "value": "colors_6",
          "label": "colors_6"
        },
               {
          "value": "colors_7",
          "label": "colors_7"
        },
        
               {
          "value": "colors_8",
          "label": "colors_8"
        },
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.newsletter.settings.full_width.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.newsletter.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.newsletter.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Subscribe to our emails",
          "label": "t:sections.newsletter.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "t:sections.newsletter.blocks.paragraph.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Be the first to know about new collections and exclusive offers.</p>",
          "label": "t:sections.newsletter.blocks.paragraph.settings.paragraph.label"
        }
      ]
    },
    {
      "type": "email_form",
      "name": "t:sections.newsletter.blocks.email_form.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.newsletter.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "paragraph"
        },
        {
          "type": "email_form"
        }
      ]
    }
  ]
}
{% endschema %}
