{% capture seche %}
✨ Vous avez une peau à tendance sèche : Vous avez une peau à tendance sèche. Elle ne produit pas beaucoup de
sébum ce qui peut la rendre rêche, terne et provoquer des tiraillements et irritations. La peau
sèche est plus sensible que les autres et manque de souplesse.
{% endcapture %}
{% capture normal %}
✨ Vous avez une peau à tendance normale : Vous avez une peau à tendance normale. C’est la peau considérée comme
parfaite. Elle est très bien équilibrée, douce, lisse et son grain est régulier.
{% endcapture %}
{% capture mixte %}
✨ Vous avez une peau à tendance mixte : Vous avez une peau à tendance mixte. Ce type de peau est un mélange de
différentes caractéristiques de peau en fonction des zones du visage. La peau est
généralement grasse sur la zone T du visage (front, nez, menton) et plus sèche sur le reste
du visage. Des sensations de tiraillements peuvent être ressenties et elle peut présenter des
imperfections.
{% endcapture %}
{% capture grasse %}
✨ Vous avez une peau à tendance grasse : Vous avez une peau à tendance grasse. Elle produit beaucoup de sébum ce
qui peut lui donner un aspect brillant. Le grain de peau est irrégulier, les pores sont dilatés
ce qui peut favoriser l’apparition d’imperfections. Elle se déshydrate et s’irrite facilement, il
ne faut donc pas négliger l’hydratation.
{% endcapture %}
{% capture madure %}
✨ La production naturelle de collagène de votre corps diminue et votre peau
peut commencer à se relâcher. On conseille de commencer à traiter le vieillissement cutané
aux alentours de 25 ans afin de prévenir l’apparition de rides et ridules.
{% endcapture %}
{% capture nomadure %}
✨ Votre peau est tonique et possède encore toute son élasticité.
{% endcapture %}
{% capture deshydratee %}
✨ Votre peau est déshydratée. Elle manque d’eau, ce qui altère le film
hydrolipidique de l’épiderme et affaiblit la barrière cutanée. La déshydratation peut causer
des tiraillements, des irritations, un manque de souplesse et une perte d’éclat.
{% endcapture %}
{% capture nondeshydratee %}
✨ Votre peau est bien hydratée. L’hydratation est primordiale et
permet d’avoir une peau saine. Il est important de conserver cette hydratation pour une peau
en pleine santé.
{% endcapture %}
                              {% assign diagnostics = customer.metafields.custom.diagnosticos.value %}

                                {% if customer %}
    <div class="div-with-svg"> <h2 class="text-center" style="text-transform:uppercase;">{{ diagnostics.name }}, VOICI VOS RESULTATS :</h2>
      <p class="text-center">Grâce à vos réponses, nous avons pu identifier vos caractéristiques de peau afin de vous proposer les capsules d'huiles végétales les plus adaptées pour personnaliser vos cosmétiques et prendre soin de votre visage. Si cette combinaison ne vous convient pas, ou si vous avez des allergies, vous pourrez modifier vos huiles végétales à l'étape suivante.</p>
    </div>
    <div class="two-columns flex gap-x-40 mt-20">
      <div class="one-column  flex-1 border-2  rounded-sm border-teal-600 bg-teal-300 p-10 ">
        <h3 class="text-center">          VOS TENDANCES DE PEAU DU MOMENT        </h3>
        <p>  {% if diagnostics.peau == 'seche' %}
          {{ seche }}
          {% endif %}
                                  {% if diagnostics.peau == 'mixte' %}
          {{ mixte }}
          {% endif %}
                                  {% if diagnostics.peau == 'grasse' %}
          {{ grasse }}
          {% endif %}
                                  {% if diagnostics.peau == 'normale' %}
          {{ normal }}
          {% endif %}
                                  </p>
        <p>
           {% if diagnostics.age == 'madure' %}
          {{ madure }}
          {% endif %}
            {% if diagnostics.age == 'nomadure' %}
          {{ nomadure }}
          {% endif %}
        </p>
           <p>
                {% if diagnostics.deshy == 'deshy' %}
          {{ deshydratee }}
          {% endif %}
            {% if diagnostics.deshy == 'nodeshy' %}
          {{ nondeshydratee }}
          {% endif %}
           </p>
      </div>
      <div class="one-column flex-1 result border-2  rounded-sm border-teal-600 bg-teal-300 p-10">
        <h3 class="text-center">VOTRE MATCH PARFAIT DU MOMENT</h3>
        <p class="text-left">Ces huiles végétales sont connues pour les propriétés suivantes* :</p>
        <div class="container-result flex" >
          <div class="container-image">{% assign ing1_image = '' %}

{% if ing1 == 'Amande' %}
  {% assign ing1_image = 'damandedouce.png' %}
{% elsif ing1 == 'Onagre' %}
  {% assign ing1_image = 'donagre.png' %}
{% elsif ing1 == 'Argan' %}
  {% assign ing1_image = 'dargan.png' %}
{% elsif ing1 == 'Abricot' %}
  {% assign ing1_image = 'dabricot.png' %}
{% elsif ing1 == 'Noisette' %}
  {% assign ing1_image = 'noisette.png' %}
{% else %}
  {% assign ing1_image = 'carotte.png' %}
{% endif %}

<img src="{{ ing1_image | asset_url }}" alt="Imagen del ingrediente 1" style="width:32px;">
</div>
          <div class="container-result-p"><p>{{ diagnostics[0].options.ingrediente1 }} : anti-imperfections, régulatrice de sébum et réparatrice</p>
          </div>
        </div>
        <div class="container-result flex" >
          <div class="container-image"><img style="width:32px;"  src="https://cdn.shopify.com/s/files/1/0716/5509/6615/files/Actif_huile_de_carotte_df45e5b7-7abc-4cac-87bd-f9371df5ddfe.svg?v=1678245001&width=70">
          </div>
          <div class="container-result-p"><p>{{ diagnostics[0].options.ingrediente2 }} : anti-imperfections, régulatrice de sébum et réparatrice</p>
          </div>
        </div>
        <div class="container-result flex" >
          <div class="container-image"><img style="width:32px;"  src="https://cdn.shopify.com/s/files/1/0716/5509/6615/files/Actif_huile_de_carotte_df45e5b7-7abc-4cac-87bd-f9371df5ddfe.svg?v=1678245001&width=70">
          </div>
          <div class="container-result-p"><p>{{ diagnostics[0].options.ingrediente3 }} : anti-imperfections, régulatrice de sébum et réparatrice</p>
          </div>
        </div>
          

      </div>
            </div>
            <div class="container-routine mt-20">
      <h2 class="text-center">VOTRE ROUTINE PERSONNALISEE</h2>
      <p class="text-center">Voici les soins personnalisés à l'image de votre peau avec votre match parfait du moment (indiqué ci-dessus).</p>
      <p class="text-center">Tous nos produits sont rechargeables à l'infini (et au delà… 🚀) pour économiser 95,6% de plastiques.<br>
        Vous pourrez choisir à l'étape suivante, pour chaque produit, si vous souhaitez le format pot + recharge (première utilisation) ou juste la recharge à clipser dans votre pot Hilo.</p>
      <a href="#" class="button btn">J'ajoute ma routine au panier</a>
    </div>
        </div>
      {% endif %}
{% schema %}
   {
    "name": "Result",
    "settings": [],
   "presets": [
    {
      "name": "Result Quiz",
      "category": "Result ",
      "blocks": [
      ]
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}