{% capture seche %}
✨ Vous avez une peau à tendance sèche : Vous avez une peau à tendance sèche. Elle ne produit pas beaucoup de
sébum ce qui peut la rendre rêche, terne et provoquer des tiraillements et irritations. La peau
sèche est plus sensible que les autres et manque de souplesse.
{% endcapture %}
{% capture normal %}
✨ Vous avez une peau à tendance normale : Vous avez une peau à tendance normale. C’est la peau considérée comme
parfaite. Elle est très bien équilibrée, douce, lisse et son grain est régulier.
{% endcapture %}
{% capture mixte %}
✨ Vous avez une peau à tendance mixte : Vous avez une peau à tendance mixte. Ce type de peau est un mélange de
différentes caractéristiques de peau en fonction des zones du visage. La peau est
généralement grasse sur la zone T du visage (front, nez, menton) et plus sèche sur le reste
du visage. Des sensations de tiraillements peuvent être ressenties et elle peut présenter des
imperfections.
{% endcapture %}
{% capture grasse %}
✨ Vous avez une peau à tendance grasse : Vous avez une peau à tendance grasse. Elle produit beaucoup de sébum ce
qui peut lui donner un aspect brillant. Le grain de peau est irrégulier, les pores sont dilatés
ce qui peut favoriser l’apparition d’imperfections. Elle se déshydrate et s’irrite facilement, il
ne faut donc pas négliger l’hydratation.
{% endcapture %}
{% capture madure %}
✨ La production naturelle de collagène de votre corps diminue et votre peau
peut commencer à se relâcher. On conseille de commencer à traiter le vieillissement cutané
aux alentours de 25 ans afin de prévenir l’apparition de rides et ridules.
{% endcapture %}
{% capture nomadure %}
✨ Votre peau est tonique et possède encore toute son élasticité.
{% endcapture %}
{% capture deshydratee %}
✨ Votre peau est déshydratée. Elle manque d’eau, ce qui altère le film
hydrolipidique de l’épiderme et affaiblit la barrière cutanée. La déshydratation peut causer
des tiraillements, des irritations, un manque de souplesse et une perte d’éclat.
{% endcapture %}
{% capture nondeshydratee %}
✨ Votre peau est bien hydratée. L’hydratation est primordiale et
permet d’avoir une peau saine. Il est important de conserver cette hydratation pour une peau
en pleine santé.
{% endcapture %}
   
           
                              {% assign diagnosticos = customer.metafields.custom.diagnosticos.value %}
                                {% assign diagnostics = diagnosticos[0] %}





                                {% if customer %}
<div class="full-width container ">
    <div class="div-with-svg" style="
                                  background:#FDE9D8; padding-bottom:60px; padding-top:20px;">
                                  <div class="container">
                                  <h2 class="text-center" style="text-transform:uppercase;">{{ diagnostics.name }}, VOICI VOS RESULTATS :</h2>
      <p class="text-center">Grâce à vos réponses, nous avons pu identifier vos caractéristiques de peau afin de vous proposer les capsules d'huiles végétales les plus adaptées pour personnaliser vos cosmétiques et prendre soin de votre visage. Si cette combinaison ne vous convient pas, ou si vous avez des allergies, vous pourrez modifier vos huiles végétales à l'étape suivante.</p>
  </div>
                                  </div>
</div>
    <div class="two-columns mb-20 flex gap-x-40 mt-20">
      <div class="one-column  flex-1 border-2  rounded-sm border-teal-600 bg-teal-300 p-10 ">
        <h3 class="text-center">          VOS TENDANCES DE PEAU DU MOMENT        </h3>
        <p>  {% if diagnostics.peau == 'seche' %}
          {{ seche }}
          {% endif %}
                                  {% if diagnostics.peau == 'mixte' %}
          {{ mixte }}
          {% endif %}
                                  {% if diagnostics.peau == 'grasse' %}
          {{ grasse }}
          {% endif %}
                                  {% if diagnostics.peau == 'normale' %}
          {{ normal }}
          {% endif %}
                                  </p>
        <p>
           {% if diagnostics.age == 'madure' %}
          {{ madure }}
          {% endif %}
            {% if diagnostics.age == 'nomadure' %}
          {{ nomadure }}
          {% endif %}
        </p>
           <p>
                {% if diagnostics.deshy == 'deshy' %}
          {{ deshydratee }}
          {% endif %}
            {% if diagnostics.deshy == 'nodeshy' %}
          {{ nondeshydratee }}
          {% endif %}
           </p>
      </div>
      <div class="one-column flex-1 result border-2  rounded-sm border-teal-600 bg-teal-300 p-10">
        <h3 class="text-center">VOTRE MATCH PARFAIT DU MOMENT</h3>
        <p class="text-left">Ces huiles végétales sont connues pour les propriétés suivantes* :</p>

                                  
                                  {% assign diagnostics_ing3 = '' %}
                                  {% if diagnostics.preocupa1 == 'Brillance' %}
  {% assign diagnostics_ing3 = 'Noisette' %}
{% endif %}

                                     {% if   diagnostics.preocupa1 == 'Deshydratation'  %}
                              
                                     {% assign diagnostics_ing3 = 'Onagre' %}
                                    {% endif %}

                                  

                                  {% if diagnostics.preocupa1 == 'Imperfections' %}
  {% if diagnostics.f51 == 'f51a' or diagnostics.f51 == 'f51b' %}
    {% assign diagnostics_ing3  = 'Noisette' %}
   
  {% endif %}
{% endif %}

{% if diagnostics.preocupa1 == 'Rougeurs' %}
  {% if diagnostics.f52 == 'f52a' or diagnostics.f52 == 'f52b' %}
    {% assign diagnostics_ing3  = 'Amande' %}
    {% comment %} Puedes agregar aquí cualquier otra lógica o acciones adicionales necesarias {% endcomment %}
  {% endif %}
{% endif %}

{% if diagnostics.preocupa1 == 'Teint' and diagnostics.f53 == 'f53a' %}
  {% assign diagnostics_ing3  = 'Carotte' %}
  {% comment %} Puedes agregar aquí cualquier otra lógica o acciones adicionales necesarias {% endcomment %}
{% endif %}

{% if diagnostics.preocupa1 == 'Teint' and diagnostics.f53 == 'f53b' %}
  {% assign diagnostics_ing3  = 'Abricot' %}
  {% comment %} Puedes agregar aquí cualquier otra lógica o acciones adicionales necesarias {% endcomment %}
{% endif %}

{% if diagnostics.preocupa1 == 'Signes' %}
  {% if diagnostics.f54 == 'f54a' or diagnostics.f54 == 'f54b' %}
    {% assign diagnostics_ing3  = 'Argan' %}
    {% comment %} Puedes agregar aquí cualquier otra lógica o acciones adicionales necesarias {% endcomment %}
  {% endif %}
{% endif %}

                                  

 {% if diagnostics.preocupa2 == 'Imperfections' %}
  {% if diagnostics.f51 == 'f51a' or diagnostics.f51 == 'f51b' %}
    {% assign diagnostics_ing2 = 'Noisette' %}
    {% comment %} Puedes agregar aquí cualquier otra lógica o acciones adicionales necesarias {% endcomment %}
  {% endif %}
{% elsif diagnostics.preocupa2 == 'Rougeurs' %}
  {% if diagnostics.f52 == 'f52a' or diagnostics.f52 == 'f52b' %}
    {% assign diagnostics_ing2 = 'Amande' %}
    {% comment %} Puedes agregar aquí cualquier otra lógica o acciones adicionales necesarias {% endcomment %}
  {% endif %}
{% elsif diagnostics.preocupa2 == 'Teint' %}
  {% if diagnostics.f53 == 'f53a' %}
    {% assign diagnostics_ing2 = 'Carotte' %}
  {% elsif diagnostics.f53 == 'f53b' %}
    {% assign diagnostics_ing2 = 'Abricot' %}
  {% endif %}
{% elsif diagnostics.preocupa2 == 'Age' %}
  {% if diagnostics.f54 == 'f54a' or diagnostics.f54 == 'f54b' %}
    {% assign diagnostics_ing2 = 'Argan' %}
    {% comment %} Puedes agregar aquí cualquier otra lógica o acciones adicionales necesarias {% endcomment %}
  {% endif %}
{% elsif diagnostics.preocupa2 == 'Brillance' %}
  {% assign diagnostics_ing2 = 'Noisette' %}
  {% comment %} Puedes agregar aquí cualquier otra lógica o acciones adicionales necesarias {% endcomment %}
{% elsif diagnostics.preocupa2 == 'Deshydratation' %}
  {% assign diagnostics_ing2 = 'Onagre' %}
  {% comment %} Puedes agregar aquí cualquier otra lógica o acciones adicionales necesarias {% endcomment %}
{% endif %}
                                

{% if diagnostics.preocupa1 == 'Imperfections' %}
  {% if diagnostics.f51 == 'f51a' or diagnostics.f51 == 'f51b' %}
    {% assign diagnostics_preocupa1 = 'Noisette' %}
    {% assign diagnostics_ing1 = 'Noisette' %}
    {% comment %} Puedes agregar aquí cualquier otra lógica o acciones adicionales necesarias {% endcomment %}
  {% endif %}
{% elsif diagnostics.preocupa1 == 'Rougeurs' %}
  {% if diagnostics.f52 == 'f52a' or diagnostics.f52 == 'f52b' %}
    {% assign diagnostics_preocupa1 = 'Amande' %}
    {% assign diagnostics_ing1 = 'Amande' %}
    {% comment %} Puedes agregar aquí cualquier otra lógica o acciones adicionales necesarias {% endcomment %}
  {% endif %}
{% elsif diagnostics.preocupa1 == 'Teint' %}
  {% if diagnostics.f53 == 'f53a' %}
    {% assign diagnostics_preocupa1 = 'Carotte' %}
    {% assign diagnostics_ing1 = 'Carotte' %}
  {% elsif diagnostics.f53 == 'f53b' %}
    {% assign diagnostics_preocupa1 = 'Abricot' %}
    {% assign diagnostics_ing1 = 'Abricot' %}
  {% endif %}
{% elsif diagnostics.preocupa1 == 'Age' %}
  {% if diagnostics.f54 == 'f54a' or diagnostics.f54 == 'f54b' %}
    {% assign diagnostics_preocupa1 = 'Argan' %}
    {% assign diagnostics_ing1 = 'Argan' %}
    {% comment %} Puedes agregar aquí cualquier otra lógica o acciones adicionales necesarias {% endcomment %}
  {% endif %}
{% elsif diagnostics.preocupa1 == 'Brillance' %}
  {% assign diagnostics_preocupa1 = 'Noisette' %}
  {% assign diagnostics_ing1 = 'Noisette' %}
  {% comment %} Puedes agregar aquí cualquier otra lógica o acciones adicionales necesarias {% endcomment %}
{% elsif diagnostics.preocupa1 == 'Déshydratation' %}
  {% assign diagnostics_preocupa1 = 'Onagre' %}
  {% assign diagnostics_ing1 = 'Onagre' %}
  {% comment %} Puedes agregar aquí cualquier otra lógica o acciones adicionales necesarias {% endcomment %}
{% endif %}

                                  
                               
        <div class="container-result flex" >
          <div class="container-image">
                        

                                  
      {% assign ing1_image = '' %}

 {% if diagnostics_ing1 == '' %}  

{% if diagnostics.ing1 == 'Amande' %}
  {% assign ing1_image = 'damandedouce.png' %}
{% elsif diagnostics.ing1 == 'Onagre' %}
  {% assign ing1_image = 'donagre.png' %}
{% elsif diagnostics.ing1 == 'Argan' %}
  {% assign ing1_image = 'dargan.png' %}
{% elsif diagnostics.ing1 == 'Abricot' %}
  {% assign ing1_image = 'dabricot.png' %}
{% elsif diagnostics.ing1 == 'Noisette' %}
  {% assign ing1_image = 'noisette.png' %}
{% else %}
  {% assign ing1_image = 'carotte.png' %}
{% endif %}
   
     {% else %}   
        {% assign ing1_image = diagnostics_ing1 | append: '.png' %}  
{% endif %}

                                  
<img src="{{ ing1_image | asset_url }}" alt="Imagen del ingrediente 1" style="width:32px;">

            


</div>
          <div class="container-result-p"><p>{% if diagnostics_ing1 == '' %}
                                    {{ diagnostics.ing1 }} 
                                    {% else %}
                                    {{ diagnostics_ing1 }}
                                    {% endif %} : anti-imperfections, régulatrice de sébum et réparatrice</p>
          </div>
        </div>
        <div class="container-result flex" >
          <div class="container-image">
                                  
            {% assign ing2_image = '' %}

 {% if diagnostics_ing2 == '' %}                                        
     {% if diagnostics.ing2 == 'Amande' %}
  {% assign ing2_image = 'damandedouce.png' %}
{% elsif diagnostics.ing2 == 'Onagre' %}
  {% assign ing2_image = 'donagre.png' %}
{% elsif diagnostics.ing2 == 'Argan' %}
  {% assign ing2_image = 'dargan.png' %}
{% elsif diagnostics.ing2 == 'Abricot' %}
  {% assign ing2_image = 'dabricot.png' %}
{% elsif diagnostics.ing2 == 'Noisette' %}
  {% assign ing2_image = 'noisette.png' %}
{% else %}
  {% assign ing2_image = 'carotte.png' %}
{% endif %}
   
     {% else %}   
        {% assign ing2_image = diagnostics_ing2 | append: '.png' %}  
{% endif %}
                                  
<img src="{{ ing2_image | asset_url }}" alt="Imagen del ingrediente 2" style="width:32px;">
             </div>
          <div class="container-result-p"><p> {% if diagnostics_ing2 == '' %}
                                    {{ diagnostics.ing2 }} 
                                    {% else %}
                                    {{ diagnostics_ing2 }}
                                    {% endif %}: anti-imperfections, régulatrice de sébum et réparatrice</p>
          </div>
        </div>
        <div class="container-result flex" >
          <div class="container-image">
            
                 {% if diagnostics_ing3 == '' %}                   
{% assign ing3_image = '' %}

{% if diagnostics.ing3 == 'Amande' %}
  {% assign ing3_image = 'damandedouce.png' %}
{% elsif diagnostics.ing3 == 'Onagre' %}
  {% assign ing3_image = 'donagre.png' %}
{% elsif diagnostics.ing3 == 'Argan' %}
  {% assign ing3_image = 'dargan.png' %}
{% elsif diagnostics.ing3 == 'Abricot' %}
  {% assign ing3_image = 'dabricot.png' %}
{% elsif diagnostics.ing3 == 'Noisette' %}
  {% assign ing3_image = 'noisette.png' %}
{% else %}
  {% assign ing3_image = 'carotte.png' %}
 
  {% endif %}
     {% else %}   
        {% assign ing3_image = diagnostics_ing3 | append: '.png' %}  
{% endif %}
                                  
                                  <img src="{{ ing3_image | asset_url }}" alt="Imagen del ingrediente 3" style="width:32px;">
            </div>
          <div class="container-result-p"><p>
                                  {% if diagnostics_ing3 == '' %}
                                    {{ diagnostics.ing3 }} 
                                    {% else %}
                                    {{ diagnostics_ing3 }}
                                    {% endif %}: anti-imperfections, régulatrice de sébum et réparatrice</p>
          </div>
        </div>
          

      </div>
            </div>
            <div class="container-routine mt-20">
      <h2 class="text-center  mb-20 ">VOTRE ROUTINE PERSONNALISEE</h2>
      <p class="text-center">Voici les soins personnalisés à l'image de votre peau avec votre match parfait du moment (indiqué ci-dessus).<br> <br></p>
      <p class="text-center  mb-20 ">Tous nos produits sont rechargeables à l'infini (et au delà… 🚀) pour économiser 95,6% de plastiques.<br>
        Vous pourrez choisir à l'étape suivante, pour chaque produit, si vous souhaitez le format pot + recharge<br> (première utilisation) ou juste la recharge à clipser dans votre pot Hilo.</p>
     <p class="text-center pb-40"> <a href="https://hilo-cosmetiques.myshopify.com/cart/add?id=44390995886375&quantity=1&properties[{{ diagnostics_ing1 }}]={{ diagnostics_ing1 }}&properties[{{ diagnostics_ing2 }}]={{ diagnostics_ing2 }}&properties[{{ diagnostics_ing3 }}]={{diagnostics_ing3}}
 " class="button btn" >J'ajoute ma routine au panier</a></p>

          
    </div>
        </div>
        </div>
      {% endif %}
      <style>
        /* Result */

        .container-routine {
          max-width:1350px;
          margin:0 auto;
        }
  .one-column  {
    background:#FEF4EC;
    border:2px solid #FBD1AD;
    border-radius:26px;
    color:#575756;
  }
   .one-column h3 {
     font-weight:600;
     font-size:24px;
     margin-bottom:20px;
   }
  .one-column p
  {
    font-size:14px;
     margin-bottom:15px;
  }
  
      </style>
{% schema %}
   {
    "name": "Result",
    "settings": [],
   "presets": [
    {
      "name": "Result Quiz",
      "category": "Result ",
      "blocks": [
      ]
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}